@import '../../../@theme/styles/themes';

@include nb-install-component() {

  .point {

    height: 4rem;
    width: 4rem;

    &.critical {
      background-color: nb-theme(color-danger);
    }

    &.major {
      background-color: nb-theme(color-warning);
    }

    &.minor {
      background-color: #dfe3ea;
    }
  }

  .input-invalid {
    border: 1px solid nb-theme(color-danger) !important;
  }


  // .contact {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // color: nb-theme(color-fg);
  // padding: 1rem;

  //   &:not(:last-child) {
  //     border-bottom: 1px solid nb-theme(separator);
  //   }
  // }

  .profile-pic {
    width: 100%;
  }

  .fa-times {
    cursor: pointer;

    &:hover {
      color: nb-theme(color-danger);
    }
  }

  .btn.btn-link {
    color: #dfe3ea !important;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /deep/ nb-stepper .step-content {
    // text-align: center;

    button {
      cursor: pointer;
      // margin: 0.5rem;
    }
  }
}
