<div class="container mb-5 mt-sm-5 mt-3">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row">
    <div class="col-12 text-center">
      <h1>Creating Project</h1>
      <p>Please fill the form below.</p>
    </div>
  </div>
  <nb-stepper orientation="horizontal">
    <nb-step label="Add Project Info" [stepControl]="projectForm">
      <form #projectForm="ngForm" class="mt-4">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-5 col-md-12">
            <div class="mb-4 d-flex flex-column justify-content-center">
              <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
                <img src="{{ ProjectPicturePath }}" class="image-fill">
              </div>
              <input class="text-center" type="file" (change)="onFileSelected($event)">
            </div>
          </div>
          <div class="col-lg-7 col-md-12">
            <label class="mt-0" for="project-name">Project Name</label>
            <input nbInput ngModel type="text" class="form-control" id="project-name" name="projectName"
              placeholder="Enter project name" #projectName="ngModel" required [(ngModel)]="ProjectName">
            <div class="text-danger" *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)">
              Please enter name.
            </div>

            <!-- <ng-template #rt let-r="result" let-t="term">
              <div class="row">
                <img [src]="'http://206.189.34.171:7777/staff/img/' + r['StaffPicturePath']" class="mr-1"
                  style="width: 16px">
                <ngb-highlight [result]="r.StaffNameEn" [term]="t"></ngb-highlight>
              </div>
            </ng-template> -->

            <label for="project-manager">Team Manager</label>
            <!-- <input nbInput type="text" class="form-control" id="project-manager" name="ManagerName"
              placeholder="Enter project manager name" #ManagerName="ngModel" required [(ngModel)]="managerModel"
              [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (blur)="onChangeManager()"
              [ngClass]="{'input-invalid': !isManagerValid && (ManagerName.dirty || ManagerName.touched)}" />
            <div class="text-danger" *ngIf="ManagerName.invalid && (ManagerName.dirty || ManagerName.touched)">
              Please enter manager name.
            </div>
            <div class="text-danger" *ngIf="!isManagerValid && (ManagerName.dirty || ManagerName.touched)">
              This staff is not valid. <br>
              Please select a valid staff or <a href="" [routerLink]="['/page/company/staff-add']" target="_blank">ADD
                NEW STAFF</a>
            </div> -->
            <nb-select class="sort-button" outline status="primary" placeholder="Select Project Manager"
              (selectedChange)="selectmanager($event)">
              <nb-option *ngFor="let m of manager" value="{{m.StaffId}}">
                <div class="row">
                  <div class="col-2"><img src="http://206.189.34.171:7777/staff/img/{{m.StaffPicturePath}}"
                      class="mr-2 box-16">
                  </div>
                  <div class="col-8">
                    {{m.StaffNameEn}}
                  </div>
                </div>
              </nb-option>
            </nb-select>

            <!-- <ng-template #clientList let-r="result" let-t="term">
              <div class="row">
                <img [src]="'http://206.189.34.171:7777/client/img/' + r['ClientPicturePath']" class="mr-1"
                  style="width: 16px">
                <ngb-highlight [result]="r.ClientNameEn" [term]="t"></ngb-highlight>
              </div>
            </ng-template> -->

            <label for="project-client">Client Name</label>
            <!-- <input nbInput type="text" class="form-control" id="project-client" name="ClientName"
              placeholder="Enter client name" #ClientName="ngModel" required [(ngModel)]="clientModel"
              [ngbTypeahead]="clientSearch" [resultTemplate]="clientList" [inputFormatter]="clientFormatter"
              (blur)="onChangeClient()"
              [ngClass]="{'input-invalid': !isClientValid && (ClientName.dirty || ClientName.touched)}" />
            <div class="text-danger" *ngIf="ClientName.invalid && (ClientName.dirty || ClientName.touched)">
              Please enter client name.
            </div>
            <div class="text-danger" *ngIf="!isClientValid && (ClientName.dirty || ClientName.touched)">
              This client is not valid. <br>
              Please select a valid client or <a href="" [routerLink]="['/page/client/add']" target="_blank">ADD
                NEW CLIENT</a>
            </div> -->
            <nb-select class="sort-button" outline status="primary" placeholder="Select Client"
              (selectedChange)="selectclient($event)">
              <nb-option *ngFor="let client of clients" value="{{client.ClientId}}">
                <div class="row">
                  <div class="col-2"><img src="http://206.189.34.171:7777/client/img/{{client.ClientPicturePath}}"
                      class="mr-2 box-16">
                  </div>
                  <div class="col-8">
                    {{client.ClientNameEn}}
                  </div>
                </div>
              </nb-option>
            </nb-select>

            <label for="project-desc">Description/User Requirement</label>
            <textarea nbInput ngModel class="form-control" id="project-desc" name="projectDesc" rows="3"
              placeholder="Enter project description" #projectDesc="ngModel" [(ngModel)]="ProjectDesc"></textarea>

            <label for="project-link">Link</label>
            <input nbInput ngModel type="url" class="form-control" id="project-link" name="projectLink"
              placeholder="Enter project link ex.https://example.com" #projectLink="ngModel" [(ngModel)]="ProjectLink">

            <div class="row m-0 d-flex justify-content-between">
              <label class="col-5 p-0" for="project-start-date">Start Date</label>
              <label class="col-5 p-0" for="project-end-date">End Date</label>
            </div>

            <div class="row m-0 d-flex justify-content-between">
              <input nbInput ngModel class="form-control col-5" id="project-start-date" name="projectStart"
                placeholder="Enter start date" [nbDatepicker]="startDate" #projectStart="ngModel" required
                [(ngModel)]="ProjectStart">
              <nb-datepicker #startDate (dateChange)="startDatePick($event)"></nb-datepicker>
              <p class="col-1 mx-auto my-0 text-center" style="font-size: 30px;">-</p>
              <input nbInput ngModel class="form-control col-5" id="project-end-date" name="projectEnd"
                placeholder="Enter end date" [nbDatepicker]="endDate" #projectEnd="ngModel" required
                [(ngModel)]="ProjectEnd">
              <nb-datepicker #endDate [min]="min"></nb-datepicker>
            </div>
            <div class="row m-0 d-flex justify-content-between">
              <div class="text-danger col-5 p-0"
                *ngIf="projectStart.invalid && (projectStart.dirty || projectStart.touched)">
                Please enter start date.
              </div>
              <div class="text-danger col-5 p-0 mr-0 ml-auto"
                *ngIf="projectEnd.invalid && (projectEnd.dirty || projectEnd.touched)">
                Please enter end date.
              </div>
            </div>

            <!-- <label for="project-price">Price</label>
            <input nbInput ngModel type="number" class="form-control" id="project-price" name="projectPrice"
              placeholder="Enter price" #projectPrice="ngModel" required [(ngModel)]="ProjectPrice">
            <div class="text-danger" *ngIf="projectPrice.invalid && (projectPrice.dirty || projectPrice.touched)">
              Please enter price.
            </div> -->

            <label for="project-payment">Payment Terms</label>
            <textarea nbInput ngModel rows="3" placeholder="Enter payment terms" class="form-control"
              id="project-payment" name="projectPayment" #projectPayment="ngModel" required
              [(ngModel)]="ProjectPayment"></textarea>
            <div class="text-danger" *ngIf="projectPayment.invalid && (projectPayment.dirty || projectPayment.touched)">
              Please enter payment terms.
            </div>
          </div>
        </div>
      </form>
      <div class="row mt-5">
        <div class="col-12 mx-0 d-flex justify-content-between">
          <div class="container-btn mr-4">
            <button nbButton class="m-0 btn btn-secondary btn-block" routerLink="/page/project/list/A-Z">Cancel</button>
          </div>
          <div class="container-btn">
            <button nbButton nbStepperNext class="m-0 btn-block" (click)="addmanager()"
              [disabled]="!projectForm.valid || ProjectHead==null || ProjectClient==null">
              Next
            </button>
          </div>
        </div>
      </div>
    </nb-step>

    <nb-step label="Add Staffs">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-3 col-md-12">
          <!-- <h4 class="mb-4">Add Staffs</h4> -->
          <h4>Add Staffs</h4>

          <form #staffForm="ngForm">
            <!-- <ng-template #staffList let-r="result" let-t="term">
              <img [src]="'http://206.189.34.171:7777/staff/img/' + r['StaffPicturePath']" class="mr-1"
                style="width: 16px">
              <ngb-highlight [result]="r.StaffNameEn" [term]="t"></ngb-highlight>
            </ng-template> -->

            <!-- <label for="project-staffs" style="font-size: 1.2rem;">Staff name</label> -->
            <!-- <input nbInput type="text" class="form-control" id="project-staffs" name="projectStaffs"
              placeholder="Enter staff name" #projectStaffs="ngModel" required [(ngModel)]="staffModel"
              [ngbTypeahead]="staffSearch" [resultTemplate]="staffList" [inputFormatter]="staffFormatter"
              (blur)="onChangeStaff()"
              [ngClass]="{'input-invalid': !isStaffValid && (projectStaffs.dirty || projectStaffs.touched)}" />
            <div class="text-danger" *ngIf="!isStaffValid && (projectStaffs.dirty || projectStaffs.touched)">
              This staff is not valid. <br>
              Please select a valid staff or <a href="" [routerLink]="['/page/company/staff-add']" target="_blank">ADD
                NEW STAFF</a>
            </div> -->
            <nb-select class="sort-button" outline status="primary" placeholder="Select Staff"
              [(selected)]="selectedItem" (selectedChange)="selectstaff($event)">
              <nb-option *ngFor="let s of staffs" value="{{s.StaffId}}">
                <div class="row">
                  <div class="col-2"><img src="http://206.189.34.171:7777/staff/img/{{s.StaffPicturePath}}"
                      class="mr-2 box-16">
                  </div>
                  <div class="col-8">
                    {{s.StaffNameEn}}
                  </div>
                </div>
              </nb-option>
            </nb-select>
          </form>

          <div class="row mx-0 mt-2 d-flex justify-content-end">
            <button class="btn btn-secondary btn-round">Cancel</button>
            <button class="btn mr-0 btn-info btn-round" [disabled]="!staffForm.valid" (click)="addStaff()">Add
              Staff</button>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <h4>Staffs</h4>
          <nb-card size="medium">
            <nb-card class="bordered p-3 mb-2" *ngFor="let st of staff; let i = index;">
              <div class="row m-0 d-flex justify-content-between align-items-center">
                <div class="d-inline-flex align-items-center">
                  <div class="rounded-circle d-flex justify-content-center box-75 overflow-hidden mr-4">
                    <img [src]="'http://206.189.34.171:7777/staff/img/' + st['StaffPicturePath']" class="image-fill">
                  </div>
                  <div class="flex-column align-items-center">
                    <h5>
                      {{ st.StaffNameEn }}
                    </h5>
                    <p class="mb-0">{{ st.StaffPositionName }} </p>
                  </div>
                </div>
                <i class="fas fa-times" (click)="deleteStaff(i)"></i>
              </div>
            </nb-card>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-0 d-flex justify-content-between">
          <div class="container-btn mr-4">
            <button nbButton nbStepperPrevious class="m-0 btn btn-secondary btn-block"
              (click)="resetstaffdata()">Previous</button>
          </div>
          <div class="container-btn">
            <!-- <button nbButton nbStepperNext class="m-0 btn-block">
              Next
            </button> -->
            <button class="m-0 btn btn-success btn-block" (click)="onAddProject()">
              Add project
            </button>
          </div>
        </div>
      </div>
    </nb-step>

    <!-- <nb-step label="Add Tasks">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-5 col-md-12 my-4">

          <h4 class="mb-4">Add Tasks</h4>

          <form #taskForm="ngForm">
            <div class="form-group">

              <label class="mt-0" for="task-name">Task</label>
              <input nbInput ngModel type="text" class="form-control" id="task-name" name="TaskName"
                placeholder="Enter task name" #TaskName="ngModel" required>

              <label class="mt-1" for="task-desc">Description</label>
              <input nbInput ngModel type="text" class="form-control" id="task-desc" name="TaskDesc"
                placeholder="Enter task description" #TaskDesc="ngModel">

              <label class="mt-1" for="task-point">Point</label>
              <input nbInput ngModel type="number" class="form-control mb-1" id="task-point" name="TaskPoint"
                placeholder="Enter task point" #TaskPoint="ngModel">

            </div>
          </form>

          <div class="row mx-0 mt-2 d-flex justify-content-end">
            <button class="btn btn-secondary btn-round" (click)="cancelTask()">Cancel</button>
            <button class="btn mr-0 btn-info btn-round" [disabled]="!taskForm.valid" (click)="addTask()">
              Add Task
            </button>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <h4>Tasks</h4>

          <nb-card size="medium" style="overflow: auto;">
            <nb-card class="bordered p-3 mb-2" *ngFor="let t of tasks; let i = index;">
              <div class="row m-0 d-flex justify-content-between">
                <div class="row m-0 align-items-center">
                  <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4"
                    [ngClass]="{'critical': (t.TaskPoint>10), 'major': (t.TaskPoint<=10&&t.TaskPoint>5), 'minor': (t.TaskPoint<=5) }"
                    *ngIf="t.TaskPoint>0">
                    <h5 class="m-0">{{ t.TaskPoint }}pt</h5>
                  </div>
                  <div class="flex-column">
                    <h5>{{ t.TaskName }}</h5>
                    <p class="mb-0">{{ t.TaskDesc }}</p>
                  </div>
                </div>
                <i class="fas fa-times" (click)="deleteTask(i)"></i>
              </div>
            </nb-card>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-0 d-flex justify-content-between">
          <div class="container-btn mr-4">
            <button nbButton nbStepperPrevious class="m-0 btn btn-secondary btn-block">Previous</button>
          </div>
          <div class="container-btn">
            <button class="m-0 btn btn-success btn-block" (click)="onAddProject()">
              Add project
            </button>
          </div>
        </div>
      </div> -->

    <ng-template #confirm let-modal>
      <div class="modal-body p-5">
        <div class="container text-center flex-column my-4">
          <h3>Almost done!</h3>
          <h5>Do you want to pin this project?</h5>
          <div class="row mx-0 mt-5 d-flex justify-content-between">
            <button type="button" class="btn btn-secondary btn-block col-4" (click)="modal.close('Save click')"
              routerLink="/page/project/info/dashboard">not
              now</button>
            <button type="button" class="btn btn-success btn-block ml-auto my-0 col-4"
              (click)="modal.close('Save click')" routerLink="/page/project/info/dashboard">Yes!</button>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- </nb-step> -->
  </nb-stepper>
</div>