<div class="container mb-5 mt-sm-5 mt-3">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/page/client/list/A-Z">Client List</a></li>
      <li class="breadcrumb-item"><a class="linked" (click)="onCancel()">Client Info</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <nb-tabset fullWidth>
    <nb-tab tabTitle="Client Info">
      <form [formGroup]="clientForm">
        <div class="row d-flex justify-content-between mx-0 mt-5 mb-4">
          <div class="col-lg-5 col-md-12">
            <div class="mb-4 d-flex flex-column justify-content-center">
              <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
                <img src="{{ ClientPicturePath }}" class="image-fill">
              </div>
              <input class="text-center" type="file" (change)="onFileSelected($event)">
            </div>
          </div>

          <div class="col-lg-7 col-md-12">
            <label class="mt-0" for="client-name">Name (EN)</label>
            <input nbInput type="text" class="form-control" id="client-nameen" formControlName="ClientNameEn"
              placeholder="Enter client name"
              [status]="clientForm.get('ClientNameEn').touched ? (clientForm.get('ClientNameEn').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!clientForm.get('ClientNameEn').valid && clientForm.get('ClientNameEn').touched">
              Please enter name.
            </div>

            <label class="mt-0" for="client-name">Name (TH)</label>
            <input nbInput type="text" class="form-control" id="client-name" formControlName="ClientName"
              placeholder="Enter client name"
              [status]="clientForm.get('ClientName').touched ? (clientForm.get('ClientName').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!clientForm.get('ClientName').valid && clientForm.get('ClientName').touched">
              Please enter name.
            </div>

            <label for="client-email">Email</label>
            <input nbInput type="email" class="form-control" id="client-email" formControlName="ClientEmail"
              placeholder="Enter your email address"
              [status]="clientForm.get('ClientEmail').touched ? (clientForm.get('ClientEmail').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!clientForm.get('ClientEmail').valid && clientForm.get('ClientEmail').touched">
              Please enter valid email address.
            </div>

            <label for="client-tel">Telephone Number</label>
            <input nbInput type="text" class="form-control" id="client-tel" formControlName="ClientTel"
              placeholder="Enter client telephone Number"
              [status]="clientForm.get('ClientTel').touched ? (clientForm.get('ClientTel').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!clientForm.get('ClientTel').valid && clientForm.get('ClientTel').touched">
              Please enter telephone Number.
            </div>

            <label for="client-address">Address</label>
            <textarea nbInput type="text" rows="3" class="form-control" id="client-address"
              formControlName="ClientAddress" placeholder="Enter client address"
              [status]="clientForm.get('ClientAddress').touched ? (clientForm.get('ClientAddress').valid  ? 'success' : 'danger') : ''">
                    </textarea>
            <div class="text-danger"
              *ngIf="!clientForm.get('ClientAddress').valid && clientForm.get('ClientAddress').touched">
              Please enter address.
            </div>

            <label for="client-taxid">Tax ID</label>
            <input nbInput type="text" class="form-control" id="client-taxid" formControlName="ClientTaxId"
              placeholder="Enter client tax id"
              [status]="clientForm.get('ClientTaxId').touched ? (clientForm.get('ClientTaxId').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!clientForm.get('ClientTaxId').valid && clientForm.get('ClientTaxId').touched">
              Please enter tax id.
            </div>

            <div class="mt-5 mx-0 d-flex justify-content-between">
              <div class="container-btn mr-4">
                <button nbButton class="btn btn-outline-secondary btn-block" (click)="onCancel()">Cancel</button>
              </div>
              <div class="container-btn">
                <button nbButton class="btn-block" status="success" [disabled]="!clientForm.valid"
                  (click)="onSaveClient()">Save
                  Changes</button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </nb-tab>
    <nb-tab tabTitle="Contact Person">
      <div class="row mx-0 mt-5 mb-4">
        <div class="col-12">
          <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
          </ng2-smart-table>
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>