<div class="container-fluid">

  <div class="row p-3 bg-gray">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h1 class="my-0">
        Summary
      </h1>
      <button class="btn btn-info d-inline-flex" (click)="onEdit()">
        <i class="fas fa-pen"></i>
        <div class="small ml-2 d-none d-lg-block">
          Edit
        </div>
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 col-12">
      <div
        class="rounded-circle d-flex justify-content-center box-150 overflow-hidden ml-auto mr-md-4 mr-auto mb-md-0 mb-4">
        <img class="image-fill" src="{{ ProjectPicturePath }}" alt="">
      </div>
    </div>

    <div class="col-md-8 col-12 p-0">
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Project name:</small>
          <p>{{ ProjectName }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Project start date:</small>
          <p>{{ ProjectStart*1000|date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Project end date:</small>
          <p>{{ ProjectEnd*1000|date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Project description:</small>
          <p>{{ ProjectDesc }}</p>
        </div>
      </div>
      <div class="row" *ngIf="ProjectLink!=''">
        <div class="col-12">
          <small class="text-muted">Project link:</small>
          <p><a href="{{ ProjectLink }}">{{ ProjectLink }}</a></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Client name:</small>
          <div class="row mx-0 mt-2 mb-3 align-items-center">
            <div class="rounded-circle d-flex justify-content-center box-25 overflow-hidden mr-2">
              <img class="image-fill" src="{{ ClientPicturePath }}" alt="">
            </div>
            <p class="mb-0 mr-2">{{ ClientName }}</p>
            <small>
              <a href="" [routerLink]="['/page/client/info/' + ClientId]" target="_blank" title="View Client Profile">
                <i class="fas fa-external-link-square-alt"></i>
              </a>
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Client email:</small>
          <p>
            <a href="mailto: {{ ClientEmail }}">
              <div *ngIf="ClientEmail">{{ ClientEmail }}
              </div>
              <div *ngIf="ClientEmail===''">-
              </div>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Client phone number:</small>
          <p>
            <a href="tel: {{ ClientTel }}">
              <div *ngIf="ClientTel">{{ ClientTel }}
              </div>
              <div *ngIf="ClientTel===''">-
              </div>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Client address:</small>
          <div *ngIf="ClientAddress">
            <p>{{ ClientAddress }}</p>
          </div>
          <div *ngIf="ClientAddress===''">-
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Client tax id:</small>
          <p>{{ ClientTaxId }}</p>
        </div>
      </div>
    </div>
  </div>
</div>