<!-- <div class="conainer-fluid" style="margin-left: 2.5%; margin-right: 2.5%;">
  <div class="row" style="margin-top: 2rem; margin-bottom: 2.5rem;">
    <div class="d-flex justify-content-between">
      <h3>Project Document</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="padding-bottom: 0.75rem;">
      <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (userRowSelect)="goToInfo()">
      </ng2-smart-table>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>