<!-- <ng-template #test></ng-template>
<ngx-loading [show]="Done" [template]="test"></ngx-loading> -->
<div class="container my-5">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12 mx-auto">
      <div class="row">
        <div class="col-12">
          <h1 class="title text-center m-0">Register</h1>
        </div>
      </div>
      <form [formGroup]="regisForm" class="mt-4 mb-2">
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-email">Email address</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput type="email" class="form-control" id="input-email" formControlName="email"
              placeholder="Enter your email address"
              [status]="regisForm.get('email').touched ? (regisForm.get('email').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!regisForm.get('email').valid && regisForm.get('email').touched">
              Please enter valid email address.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" type="password" id="input-password" formControlName="password"
              placeholder="Enter your password"
              [status]="regisForm.get('password').touched ? (regisForm.get('password').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!regisForm.get('password').valid && regisForm.get('password').touched">
              Please enter password with at least 6 characters.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-password">Confirm password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" type="password" id="input-password" formControlName="confirmPassword"
              placeholder="Enter your password again"
              [status]="regisForm.get('confirmPassword').touched ? (regisForm.valid ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="regisForm.get('confirmPassword').touched && !regisForm.valid">
              Password doesn't match
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <nb-checkbox [value]="checked" (change)="toggleCheck()">
              Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
            </nb-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row mx-0 mt-3 mb-1">
              <span class="text-danger" *ngIf="errorRegis !== ''">
                {{ errorRegis }}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button nbButton fullWidth status="success" [disabled]="!checked || !regisForm.valid" (click)="regis()">
              Sign up
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Already have an account? <a class="text-link" routerLink="/auth/login">Log in</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>