<div class="modal-body p-5">
  <div class="container" *ngIf="!editTask">
    <button type="button" class="edit" (click)="editTaskClick(Taskdata.TaskName,Taskdata.TaskDesc,Taskdata.DueDate)"
      *ngIf="!editTask">
      Edit
    </button>
    <div class="row mx-0 mb-3">
      <div class="d-flex flex-column">
        <h3>{{Taskdata.TaskName}}</h3>
      </div>
    </div>
    <p>{{ Taskdata.TaskDesc }}</p>
  </div>

  <div class="container" *ngIf="editTask">
    <form #taskEditForm="ngForm">
      <div class="form-group">
        <button type="button" class="close" aria-label="Close" (click)="cancelTaskEdit()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Edit task</h3>
        <label for="task-name">Task name</label>
        <input nbInput ngModel class="form-control" id="task-name" name="taskName" placeholder="Task name"
          #taskName="ngModel" required [(ngModel)]="TaskName">
        <div class="text-danger" *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)">
          Please enter name.
        </div>

        <label for="task-desc">Task description</label>
        <textarea nbInput ngModel class="form-control" id="task-desc" name="taskDesc" placeholder="Task description"
          #taskDesc="ngModel" [(ngModel)]="TaskDesc"></textarea>

        <label for="due-date">Due date</label>
        <nb-checkbox [value]="duedatecheck" (change)="toggleduedate()"></nb-checkbox>
        <div *ngIf="!duedatecheck">
          <input nbInput ngModel class="form-control" id="due-date" name="duedate" placeholder="Enter start date"
            [nbDatepicker]="dueDate" #duedate="ngModel" [(ngModel)]="TaskDuedate" disabled>
          <nb-datepicker #dueDate [min]="min"></nb-datepicker>
        </div>
        <div *ngIf="duedatecheck">
          <input nbInput ngModel class="form-control" id="due-date" name="duedate" placeholder="Enter start date"
            [nbDatepicker]="dueDate" #duedate="ngModel" [(ngModel)]="TaskDuedate">
          <nb-datepicker #dueDate [min]="min"></nb-datepicker>
        </div>

        <div class="row mt-3 mx-0 d-flex justify-content-end">
          <button class="btn btn-danger btn-round mr-3" (click)="onDeleteTask(Taskdata.TaskId)">Delete this
            task</button>
          <!-- <button class="btn btn-secondary btn-round mr-3" (click)="cancelTaskEdit()">Cancel</button> -->
          <button class="btn btn-info btn-round" [disabled]="!taskEditForm.valid" (click)="onEditTask(Taskdata.TaskId)">
            Save changes
          </button>
        </div>

        <div class="row mt-3 mx-0 d-flex justify-content-end" *ngIf="inSprint">
          <button class="btn btn-danger btn-round" (click)="DeleteTaskSprintid(Taskdata.TaskId)">Take out of
            Sprint</button>
        </div>

      </div>
    </form>
  </div>
</div>
<!-- <button type="button" class="edit" (click)="editTaskClick(task.TaskPoint,task.TaskName,task.TaskDesc)"
          *ngIf="!editTask">
          Edit
        </button>
        <div class="container" *ngIf="!editTask">
          <div class="row mx-0 mb-3">
            <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4 minor">
              <h5 class="m-0">{{ task.TaskPoint }}pt</h5>
            </div>
            <div class="d-flex flex-column">
              <h3>{{task.TaskName}}</h3>
            </div>
          </div>
          <p>{{ task.TaskDesc }}</p>
        </div>
        <div class="container" *ngIf="editTask">
          <form [formGroup]="taskEditForm">
            <div class="form-group">
              <h3>Edit task</h3>
              <button type="button" class="close" aria-label="Close" (click)="cancelTaskEdit()">
                <span aria-hidden="true">&times;</span>
              </button>
              <label for="task-name">Task name</label>
              <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName"
                placeholder="Task name"
                [status]="taskEditForm.get('TaskName').touched ? (taskEditForm.get('TaskName').valid  ? 'success' : 'danger') : ''">
              <div class="text-danger" *ngIf="!taskEditForm.get('TaskName').valid && taskEditForm.get('TaskName').touched">
                Please enter Task name.
              </div>
    
              <label for="task-point">Task point</label>
              <input nbInput type="number" class="form-control" id="task-point" formControlName="TaskPoint"
                placeholder="Task point">
    
              <label for="task-desc">Task description</label>
              <input nbInput type="text" class="form-control" id="task-desc" formControlName="TaskDesc"
                placeholder="Task description">
    
              <div class="row mt-5 mx-0 d-flex justify-content-end">
                <button class="btn btn-secondary btn-round mr-3" (click)="cancelTaskEdit()">Cancel</button>
                <button class="btn btn-info btn-round" [disabled]="!taskEditForm.valid"
                  (click)="onEditTask(list.ListId,task.TaskId,in,i)">
                  Save changes
                </button>
              </div>
            </div>
          </form>
        </div> -->