<!-- <ng-template #test></ng-template>
<ngx-loading [show]="Done" [template]="test"></ngx-loading> -->
<div class="container my-5">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12 mx-auto">
      <div class="row">
        <div class="col-12">
          <h1 class="title text-center m-0">Login</h1>
        </div>
      </div>
      <form [formGroup]="loginForm" class="mt-4 mb-2">
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-email">Email address</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput type="email" class="form-control" id="input-email" formControlName="email"
              placeholder="Enter your email address"
              [status]="loginForm.get('email').touched ? (loginForm.get('email').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
              Please enter valid email address.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" type="password" id="input-password" formControlName="password"
              placeholder="Enter your password"
              [status]="loginForm.get('password').touched ? (loginForm.get('password').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
              Please enter password.
            </div>
          </div>
        </div>
        <div class="row mt-1 mb-4 d-flex">
          <div class="col-12">
            <div class="row mx-0 justify-content-between align-items-center">
              <nb-checkbox name="rememberMe">Remember me</nb-checkbox>
              <a href="" routerLink="/auth/forgot-password" class="float-right">Forgot Password?</a>
            </div>
          </div>
        </div>
        <div class="row mx-0 my-1">
          <div class="col-12">
            <span class="text-danger" *ngIf="sthWrong">
              Wrong email or password. Please try again or click Forgot password to reset it.
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button nbButton fullWidth status="success" class="mt-2" [disabled]="!loginForm.valid" (click)="login()">
              Log In
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              Don't have an account? <a class="text-link" class="linked" (click)="gotoregis()">Register</a>
              <!-- <a class="text-link" routerLink="/auth/register">Register</a> -->
            </p>
          </div>
        </div>
      </form>
      <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }">
      </ngx-loading>
    </div>
  </div>
</div>