<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary mr-2" (click)="addNode()">Add</button>
      <button type="button" class="btn btn-danger mr-2" (click)="removeNode()">Delete</button>
      <!-- <button type="button" class="btn btn-danger" (click)="updateNode()">test</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="jsmind_container" style="height: 70vh;"></div>
    </div>
  </div>
</div>