<div class="container mb-5 mt-sm-5 mt-3">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row">
    <div class="col-12">
      <div class="row bg-gray px-3">
        <h1>Pin Project</h1>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <div class="row scroll-x">
        <div class="col-sm-12 col-md-6 col-xxl-4" *ngFor="let p of project; let i = index;">

          <!-- project card -->
          <nb-card class="card-list">

            <!-- option -->
            <ng-template #menu>
              <ul class="option-menu">
                <li class="mb-2" (click)="onEdit(p.ProjectId)">Edit</li>
                <li (click)="onDelete(p.ProjectId)">Delete</li>
              </ul>
            </ng-template>
            <div class="option-icon">
              <div class=" btn-group" role="group">
                <button type="button" class="btn btn-link btn-card-option">
                  <i class="fas fa-thumbtack fa-rotate-45"
                    [ngStyle]="{'color': p.ProjectPinned ? '#2684ff' : '#bbc0c9'}"
                    (click)="pinProject(p.ProjectId,p.ProjectPinned)"></i>
                </button>
                <div [nbPopover]="menu" nbPopoverPlacement="top" [nbPopoverContext]="{popover: popover}">
                  <i class="fas fa-ellipsis-v btn-card-option"></i>
                </div>
              </div>
            </div>

            <nb-card-body (click)="goToInfo(p.ProjectId)">
              <div class="container p-4">

                <div class="row">
                  <div class="col-lg-3 col-12">
                    <div class="rounded-circle d-flex justify-content-center box-75 overflow-hidden mr-4 mb-2 mb-lg-0">
                      <img class="image-fill" src="http://206.189.34.171:7777/project/img/{{p.ProjectPicturePath}}"
                        alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-12">
                    <div class="flex-column">
                      <h4>{{ p.ProjectName }}</h4>
                      <a href="https://www.google.co.th/" *ngIf="p.ProjectLink != '' && p.ProjectLink != '-'"><i
                          class="fas fa-external-link-square-alt mr-1"></i>
                        {{ p.ProjectLink }}
                      </a>
                    </div>
                  </div>
                </div>

                <div class="row mt-4 mb-2">
                  <div class="col-12">
                    <p>{{ p.ProjectDesc }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-right">
                    <p class="mb-0">{{ p.ProjectPercent }} %</p>
                  </div>
                </div>

                <nb-progress-bar value="{{ p.ProjectPercent }}" size="xs" status="success"></nb-progress-bar>

                <div class="row mt-4">
                  <div class="col-12 d-flex justify-content-between align-items-center">

                    <span class="badge p-2"
                      [ngClass]="{'badge-default': (daysLeft[i]>14), 'badge-warning': (daysLeft[i]<=14&&daysLeft[i]>7), 'badge-danger': (daysLeft[i]<=7) }"
                      *ngIf="p.ProjectStatus !==  'done' && daysLeft[i] >= 0">
                      <i class="far fa-clock mr-1"></i> {{ daysLeft[i] }} days left
                    </span>

                    <span class="badge badge-danger p-2" *ngIf="p.ProjectStatus !==  'done' && daysLeft[i] < 0">
                      <i class="fas fa-exclamation-circle mr-1"></i> LATE
                    </span>

                    <span class="badge badge-success p-2" *ngIf="p.ProjectStatus === 'done'">
                      <i class="fas fa-check-circle mr-1"></i> DONE
                    </span>

                    <span class="badge badge-default p-2"> Start {{ p.ProjectStart *1000 | date }}
                      <!-- - {{ p.ProjectEnd *1000| date }} -->
                    </span>

                    <div class="d-inline-flex">
                      <div class="rounded-circle d-flex justify-content-center box-25 overflow-hidden">
                        <img class="image-fill" src="http://206.189.34.171:7777/staff/img/{{p.ProjectHeadPic}}" alt="">
                      </div>
                      <div *ngFor="let s of staffPics[i]; let in = index;">
                        <div class="rounded-circle d-flex justify-content-center box-25 overflow-hidden ml-1"
                          *ngIf="in<2">
                          <img class="image-fill" src="http://206.189.34.171:7777/staff/img/{{s}}" alt="">
                        </div>
                      </div>
                      <div class="rounded-circle d-flex align-items-center justify-content-center box-25 ml-1"
                        style="background-color: #dfe3ea;" *ngIf="staffPics[i] && staffPics[i].length > 2">
                        <p class="mb-0">{{ staffPics[i].length -2 }}+</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </nb-card-body>
          </nb-card>

        </div>
      </div>
    </div>
  </div>
</div>