<!-- <ng-template #test></ng-template>
<ngx-loading [show]="Done" [template]="test"></ngx-loading> -->
<div class="container my-5">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12 mx-auto">
      <div class="row">
        <div class="col-12">
          <h1 class="title text-center m-0">Set New Password</h1>
        </div>
      </div>
      <form [formGroup]="newpwdForm" class="mt-4 mb-2">
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-password">New Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" type="password" id="input-password" formControlName="password"
              placeholder="Enter your password"
              [status]="newpwdForm.get('password').touched ? (newpwdForm.get('password').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!newpwdForm.get('password').valid && newpwdForm.get('password').touched">
              Please enter password with at least 6 characters.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-password">Confirm New Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" type="password" id="input-password" formControlName="confirmPassword"
              placeholder="Enter your password again"
              [status]="newpwdForm.get('confirmPassword').touched ? (newpwdForm.valid ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="newpwdForm.get('confirmPassword').touched && !newpwdForm.valid">
              Password doesn't match
            </div>
          </div>
        </div>
        <div class="row mx-0 mt-5 mb-1">
          <div class="col-12">
            <span class="text-danger" *ngIf="errorRegis !== ''">
              {{ errorRegis }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button nbButton fullWidth status="success" [disabled]="!newpwdForm.valid" (click)="setNew()">
              Set new password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>