<div class="conainer-fluid" style="margin-left: 2.5%; margin-right: 2.5%;">
  <div class="row" style="margin-top: 2rem; margin-bottom: 2.5rem;">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3>Quotation</h3>
        <button type="button" class="btn btn-success btn-sm" style="margin-left: 1.5rem;" (click)="onAdd()">
          <i class="fas fa-plus" style="margin-right:0.5rem;"></i> New quotation
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="padding-bottom: 0.75rem;">
      <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (userRowSelect)="TableToInfo($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>