<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="generator" content="LibreOffice 6.0.7.3 (Linux)" />
	<meta name="author" content="USER" />
	<meta name="created" content="2019-07-19T05:50:19" />
	<meta name="changedby" content="USER" />
	<meta name="changed" content="2019-07-24T05:50:11" />
	<meta name="AppVersion" content="15.0300" />
	<meta name="DocSecurity" content="0" />
	<meta name="HyperlinksChanged" content="false" />
	<meta name="LinksUpToDate" content="false" />
	<meta name="ScaleCrop" content="false" />
	<meta name="ShareDoc" content="false" />

	<style type="text/css">
		div,
		table,
		thead,
		tbody,
		tfoot,
		tr,
		th,
		td,
		p {
			font-family: "Tahoma";
			font-size: x-small;
		}

		body {
			max-width: 1180px;
			width: 98%;
			margin: 0px auto;
			text-align: left;
		}

		a.comment-indicator:hover+comment {
			background: #ffd;
			position: absolute;
			display: block;
			border: 1px solid black;
			padding: 0.5em;
		}

		a.comment-indicator {
			background: red;
			display: inline-block;
			border: 1px solid black;
			width: 0.5em;
			height: 0.5em;
		}

		comment {
			display: none;
		}
	</style>

</head>

<body>
	<table cellspacing="0" border="0" align="center">
		<colgroup width="72"></colgroup>
		<colgroup width="264"></colgroup>
		<colgroup width="92"></colgroup>
		<colgroup width="48"></colgroup>
		<colgroup span="2" width="145"></colgroup>
		<tr>
			<td colspan=2 rowspan=9 height="205" align="left" valign=top>
				<font color="#000000"><br><img src="http://206.189.34.171:7777/crafity/logo/logo.png" alt="logo"
						width="200" height="100" /></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=3 align="right" valign=middle>
				<font size=3 color="#000000">Crafity Studio Co.,Ltd</font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=3 rowspan=3 align="right" valign=middle>
				<font color="#000000">135/11 The Metro Rattanathibet,<br>Rattanathibet Rd., Sai Ma,
					Mueang<br>nonthaburi, Nonthaburi, 11000</font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=3 rowspan=2 align="right" valign=middle>
				<font color="#000000">Tel: 081-562-6945, 087-324-0624<br>Tax ID: 0105558198299</font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=3 align="right" valign=middle><b>
					<font color="#000000">ใบเสนอราคา / Quotation</font>
				</b></td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="left" valign=middle>
				<font color="#000000">No.</font>
			</td>
		</tr>
		<tr>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="left" valign=middle>
				<font color="#000000">Date:</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000">ชื่อลูกค้า {{ .ClientName }}</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=4 rowspan=5 align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000">ที่อยู่ {{ .ClientAddress }}</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000">โทรศัพท์ {{ .ClientTel }}</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000">Tax ID {{ .ClientTaxId }}</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">No.</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Description</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				colspan=2 align="center" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Quantity</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Unit Price/Baht</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Amount</font>
				</b></td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="right" valign=middle>
				<font color="#000000">1</font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle>
				<font color="#000000">{{ .ProjectDesc }}</font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="right" valign=middle>
				<font color="#000000">1</font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="right" valign=middle>
				<font color="#000000">PCS</font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000">THB {{ .ProjectPrice }}</font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000">THB {{ .ProjectPrice }}</font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Amount</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF">
				<font color="#000000">THB {{ .ProjectPrice }}</font>
			</td>
		</tr>
		<tr>
			<td colspan=2 height="23" align="left" valign=middle><b><u>
						<font color="#000000">TERMS &amp; CONDITION OF SALES</font>
					</u></b></td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">VAT 7%</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF">
				<font color="#000000">THB {{ .VatPrice }}</font>
			</td>
		</tr>
		<tr>
			<td height="23" align="left" valign=middle>
				<font color="#000000">Price </font>
			</td>
			<td align="left" valign=middle>
				<font color="#000000">:Price are quote in Thai Baht</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF"><b>
					<font color="#000000">Total Amount</font>
				</b></td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
				align="left" valign=middle bgcolor="#BFBFBF">
				<font color="#000000">THB {{ .Total }}</font>
			</td>
		</tr>
		<tr>
			<td colspan=2 height="23" align="left" valign=middle>
				<font color="#000000">Payment Terms:</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td rowspan=2 align="left" valign=top>
				<font color="#000000">{{ .ProjectPayment }}</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td height="23" align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td colspan=2 height="23" align="left" valign=middle>
				<font color="#000000">บจก. คราฟฟิตี้ สตูดิ โอ </font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td colspan=2 align="center" valign=middle><b>
					<font color="#000000">Your Sincarely,</font>
				</b></td>
		</tr>
		<tr>
			<td colspan=2 height="23" align="left" valign=middle>
				<font color="#000000">เลขที่บัญชี 013-1-75181-8 </font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
		<tr>
			<td colspan=2 height="23" align="left" valign=middle>
				<font color="#000000">ธนาคารกสิกรไทย</font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
			<td align="center" valign=middle>
				<font color="#000000"><br></font>
			</td>
		</tr>
	</table>
	<!-- ************************************************************************** -->
</body>

</html>