@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  nav {
    margin: unset !important;
  }

  .navbar {
    background-color: #0747a6;
    height: 3rem;
  }

  .navbar-nav {
    padding-left: 0;
  }

  // .nav-item {
  //   .active {
  //     font-weight: 600;
  //     border-bottom: 1px solid white;
  //     background-color: nb-theme(color-info);
  //   }
  // }

  .nav-link {
    width: 8rem;
    text-align: center;

    &:hover {
      font-weight: 600;
      border-bottom: 1px solid white;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

}
