<div class="container-fluid">
  <div class="row header-container">
    <div class="col-12">
      <nav class="navbar navbar-expand">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/page/dashboard']">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/page/project/list/A-Z']">Project</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/page/client/list/A-Z']">Client</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/page/doc/quotation']">Document</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/page/company/company-info']">Management</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>