// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  @include media-breakpoint-down(sm) {

    .info-card {
      width: inherit !important;
    }

    ngx-chart-dash {
      height: 25vh !important;
    }
  }

  @include media-breakpoint-down(md) {
    .option-menu {
      padding: 0.75rem !important;
    }
  }

  @include media-breakpoint-down(lg) {
    .taskboard {
      padding: 0 !important;
    }
  }

  .bg-gray {
    background-color: #f9f9f9 !important;
  }

  .image-fluid {
    width: 100%;
    height: auto;
  }

  .e-sign-image {
    max-height: 15rem;
  }

  // toast status
  nb-toast {

    opacity: 1;
    font-size: medium;

    &.danger {
      border-color: nb-theme(color-danger);
      background-color: nb-theme(color-danger);
      color: #fff;
    }

    &.success {
      border-color: nb-theme(color-success);
      background-color: nb-theme(color-success);
      color: #fff;
    }

    &.info {
      border-color: nb-theme(color-info);
      background-color: nb-theme(color-info);
      color: #fff;
    }

    &.primary {
      border-color: nb-theme(color-primary);
      background-color: nb-theme(color-primary);
      color: #fff;
    }

    &.warning {
      border-color: nb-theme(color-warning);
      background-color: nb-theme(color-warning);
      color: #fff;
    }
  }

  //Badge color
  .badge-success {
    color: nb-theme(color-success);
    background-color: #ddffef;
  }

  .badge-default {
    color: #646464;
    background-color: #dfe3ea;
  }

  .badge-warning {
    color: nb-theme(color-warning);
    background-color: #fff0d8;
  }

  .badge-danger {
    color: nb-theme(color-danger);
    background-color: #ffd6e0;
  }

  // extra large modal size 
  .xlModal {
    .modal-dialog {
      max-width: 900px !important;
      min-width: 700px !important;
      width: 95% !important;
    }
  }

  .box-16 {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 16px !important;
    width: 16px !important;
  }

  .box-25 {
    height: 25px !important;
    width: 25px !important;
  }

  .box-50 {
    max-height: 50px !important;
    width: 50px !important;
  }

  .box-75 {
    height: 75px !important;
    width: 75px !important;
  }

  .box-100 {
    height: 100px !important;
    width: 100px !important;
  }

  .box-150 {
    height: 150px !important;
    width: 150px !important;
  }

  .box-200 {
    height: 200px !important;
    width: 200px !important;
  }

  .box-300 {
    height: 300px !important;
    width: 300px !important;
  }

  .full-height {
    height: 100%;
  }

  .scroll-x {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  button,
  nb-card-body,
  img,
  h4,
  li,
  select {

    div,
    &:focus {
      outline: none;
    }
  }

  p,
  h5 {
    word-break: break-all;
  }

  a,
  button {
    cursor: pointer !important;
  }

  // fa icon rotate 45deg
  .fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .bordered {
    border: 1px solid #dfe3ea;
  }

  .bordered-right {
    border-right: 1px solid #dfe3ea;
    height: 75vh;
    border-radius: 0;
  }

  .image-fill {
    height: 100%;
    min-width: inherit;
    // position: absolute;
    // top: 0;
    // object-fit: cover;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  // task edit button
  button.edit {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1rem;
    line-height: 1;
    color: nb-theme(link-color);

    &:hover {
      color: nb-theme(color-primary);
      text-decoration-line: underline;
    }
  }

  //search input
  .input-group.has-search-icon {
    position: relative;

    .form-control {
      background-color: #f9f9f9;
      padding-left: 3rem;

      &::placeholder {
        color: #babdc4;
        opacity: 1;
      }
    }

    &::before {
      content: '\f4a5';
      font-family: 'Ionicons';
      font-size: 1.5rem;
      position: absolute;
      z-index: 100;
      left: 1.5rem;
      top: 0.8rem;
      color: #babdc4;
    }
  }

  // breadcrumb style
  .breadcrumb {
    background-color: #f9f9f9;
  }

  //breadcrumb link
  .linked {
    color: nb-theme(link-color) !important;

    &:hover {
      color: nb-theme(color-primary) !important;
      text-decoration-line: underline !important;
      cursor: pointer;
    }

  }

  .dropdown-item {
    width: -moz-available;
  }

  .container-btn {
    width: 200px;
  }

  // card style
  .info-card {
    color: black;
    background-color: #dfe3ea;
    border-radius: 10px;
    width: fit-content;
    width: -moz-fit-content;
  }

  .card-list {
    // display: -webkit-box !important;
    max-height: -webkit-fill-available;
    height: fit-content;
    box-shadow: none;
    border: 1px solid #dfe3ea;
    padding: 0;

    nb-card-body {
      cursor: pointer;
    }
  }

  .btn-view {
    width: 1rem;
    color: #2684ff !important;
    background-color: #fff !important;

    .fa-th-large,
    .fa-bars {
      margin-left: -0.5rem;
    }

    &.active {
      color: #f4fdff !important;
      background-color: #2684ff !important;
    }

    &:hover {
      border-color: #dadfe6 !important;
      background-color: #dadfe6 !important;
    }
  }

  .card-option {
    position: absolute;
    right: 75px;
    top: 50px;
  }

  .btn-card-option {
    color: #bbc0c9;
    padding: 0.75rem;
    font-size: large;

    &:hover {
      cursor: pointer !important;
      color: #0747a6 !important;
    }
  }

  .point {

    height: 4rem;
    width: 4rem;

    &.critical {
      background-color: nb-theme(color-danger);
    }

    &.major {
      background-color: nb-theme(color-warning);
    }

    &.minor {
      background-color: #dfe3ea;
    }
  }

  // popover option
  .option-menu {
    color: #f4fdff;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;

    li {
      height: 22px;

      &:hover {
        border-bottom: 1px solid #f4fdff;
        cursor: pointer !important;
      }
    }
  }

  .option-icon {
    position: absolute;
    right: 3rem;
    top: 2rem;
    z-index: 999;
    cursor: pointer;

    .btn-group {
      button {
        i {
          &:hover {
            color: #0747a6 !important;
          }
        }
      }
    }
  }

  .sidebar-menu {
    background-color: #f9f9f9;
    height: calc(100vh - #{nb-theme(header-height)} - #{nb-theme(footer-height)});
  }

  //sub menu
  .sidebar-card {
    margin: 1.5rem;
    // border-left: 3px solid nb-theme(color-primary);
    border-radius: 0;

    .menu-item {
      border: 0 !important;
      background-color: #f9f9f9;

      a {
        &.active {
          padding: 1rem;
          background-color: #2684ff;
          color: #fff;
          font-size: larger;
        }
      }

    }
  }

  // sort button
  .sort-button {
    button {
      margin-right: 0.5rem;
    }
  }

  //form
  form {

    input,
    textarea {
      margin-bottom: 0.5rem;

      &:disabled {
        background-color: #eff1f4 !important;
        border: none !important;

        &::placeholder {
          color: #c8ccd2;
          opacity: 1;
        }
      }
    }

    label {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: black;
    }

    .profile-pic {
      position: relative;
      width: 50%;
    }

    .esign-pic {
      position: relative;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: rgba(8, 54, 124, 0.5);
    }

    .profile-pic,
    .esign-pic {
      &:hover .overlay {
        opacity: 1;
      }
    }

    .text {
      color: white;
      font-size: 17px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  input {
    margin-bottom: 0.5rem;
  }

  label {
    margin-top: 1rem;
  }

  .ng-valid[required],
  .ng-valid.required {
    border: 1px solid nb-theme(color-success);
  }

  .ng-invalid[required],
  .ng-invalid.required {

    box-shadow: none;

    &.ng-touched {
      border: 1px solid nb-theme(color-danger);
    }
  }

  // smart-table
  ng2-smart-table {
    input {
      margin-bottom: 0 !important;
    }
  }

  // Drag & Drop
  .board {
    // Flexbox styling that defines the direction in which the content is flowing.
    // Also makes it easier to stretch the lists to the height of the screen later on.
    display: flex;
    flex-direction: row;

    // Ensure that the board covers the viewport and add some padding to make it look better.
    width: 100%;
    height: 65vh;
    // padding: 8px;
    box-sizing: border-box;

    // Only allow horizontal scrolling.
    overflow-x: auto;
    overflow-y: hidden;
  }

  .mat-h3 {
    width: 100%;
    color: black;
    font-family: Exo;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .list-sprint {
    // Stretch the element to the height of the board and make it scrollable.
    width: 47%;
    overflow: auto;
    box-sizing: border-box;
    margin-right: 2rem;
    flex-shrink: 0;

    // Some extra styling to make the card list look better.
    background: #778fae83;
    border-radius: 4px;
    padding: 20px;

    flex: column;
    display: flex;
    flex-direction: column;

  }

  .btn-add {
    cursor: pointer;
    color: #8c94a2 !important;
    outline: none;

    &:hover {
      color: black !important;
    }
  }

  .listed {
    // Stretch the element to the height of the board and make it scrollable.
    // height: 10%;
    max-height: -webkit-fill-available;
    height: fit-content;
    width: 20rem;
    overflow: auto;
    box-sizing: border-box;
    margin-right: 1rem;
    flex-shrink: 0;

    // Some extra styling to make the card list look better.
    color: black;
    background: #dfe3ea;
    border-radius: 4px;
    padding: 1rem;

    flex: column;
    display: flex;
    flex-direction: column;

    button {
      // The flex-shrink prevents the button from shrinking if the list content becomes too large.
      flex-shrink: 0;
      margin-top: 10px;
    }

  }

  .list-add {
    // Stretch the element to the height of the board and make it scrollable.
    height: fit-content;
    height: -moz-fit-content;
    width: 20rem;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 1rem;
    flex-shrink: 0;

    // Some extra styling to make the card list look better.
    background: #dfe3ea;
    border-radius: 4px;
    padding: 1rem;
  }

  .list-content {
    // Make the list scrollable and stretch it to take up the available height.
    overflow: auto;
    flex-grow: 1;
  }

  // If items are being reordered through dragging, all other elements should
  // reorder smoothly. Also if an item is being dropped, it should animate
  // into its target position.
  .cdk-drag-animating,
  .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .custom-placeholder {
    background-color: #d0d6e0;
    min-height: 5rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    margin-bottom: 0.5rem;
    border-radius: 4px;
  }

  .custom-list-placeholder {
    background-color: #fafbfc;
    // min-height: 75vh;
    min-width: 20rem;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    margin-right: 0.5rem;
  }

  .cdk-drag-preview {

    // height: auto;

    p {
      color: black;
      font-family: Roboto;
      font-size: 1rem;
      line-height: 1.25;
      padding: 0;
    }

    .listed {
      height: auto;
    }

    .mat-h3 {
      padding: 0;
      margin: 0;
    }

    .point {

      height: 4rem;
      width: 4rem;

      &.critical {
        background-color: nb-theme(color-danger);
      }

      &.major {
        background-color: nb-theme(color-warning);
      }

      &.minor {
        background-color: #dfe3ea;
      }
    }
  }


  .jsmind-inner {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  /*box-shadow:0 0 2px #000;*/
  .jsmind-inner {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* z-index:1 */
  canvas {
    position: absolute;
    z-index: 1;
  }

  /* z-index:2 */
  jmnodes {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
  }

  /*background color is necessary*/
  jmnode {
    position: absolute;
    cursor: default;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  jmexpander {
    position: absolute;
    width: 11px;
    height: 11px;
    display: block;
    overflow: hidden;
    line-height: 12px;
    font-size: 12px;
    text-align: center;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
  }

  /* default theme */
  jmnode {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #666;
    font: 16px/1.125 Verdana, Arial, Helvetica, sans-serif;
  }

  jmnode:hover {
    box-shadow: 2px 2px 8px #000;
    background-color: #ebebeb;
    color: #333;
  }

  jmnode.selected {
    background-color: #11f;
    color: #fff;
    box-shadow: 2px 2px 8px #000;
  }

  jmnode.root {
    font-size: 24px;
  }

  jmexpander {
    border-color: gray;
  }

  jmexpander:hover {
    border-color: #000;
  }

  @media screen and (max-device-width: 1024px) {
    jmnode {
      padding: 5px;
      border-radius: 3px;
      font-size: 14px;
    }

    jmnode.root {
      font-size: 21px;
    }
  }

  /* primary theme */
  jmnodes.theme-primary jmnode {
    background-color: #428bca;
    color: #fff;
    border-color: #357ebd;
  }

  jmnodes.theme-primary jmnode:hover {
    background-color: #3276b1;
    border-color: #285e8e;
  }

  jmnodes.theme-primary jmnode.selected {
    background-color: #f1c40f;
    color: #fff;
  }

  // jmnodes.theme-primary jmnode.root {}

  // jmnodes.theme-primary jmexpander {}

  // jmnodes.theme-primary jmexpander:hover {}

  /* warning theme */
  jmnodes.theme-warning jmnode {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
  }

  jmnodes.theme-warning jmnode:hover {
    background-color: #ed9c28;
    border-color: #d58512;
  }

  jmnodes.theme-warning jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-warning jmnode.root {}

  // jmnodes.theme-warning jmexpander {}

  // jmnodes.theme-warning jmexpander:hover {}

  /* danger theme */
  jmnodes.theme-danger jmnode {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
  }

  jmnodes.theme-danger jmnode:hover {
    background-color: #d2322d;
    border-color: #ac2925;
  }

  jmnodes.theme-danger jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-danger jmnode.root {}

  // jmnodes.theme-danger jmexpander {}

  // jmnodes.theme-danger jmexpander:hover {}

  /* success theme */
  jmnodes.theme-success jmnode {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
  }

  jmnodes.theme-success jmnode:hover {
    background-color: #47a447;
    border-color: #398439;
  }

  jmnodes.theme-success jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-success jmnode.root {}

  // jmnodes.theme-success jmexpander {}

  // jmnodes.theme-success jmexpander:hover {}

  /* info theme */
  jmnodes.theme-info jmnode {
    background-color: #5dc0de;
    border-color: #46b8da;
    ;
    color: #fff;
  }

  jmnodes.theme-info jmnode:hover {
    background-color: #39b3d7;
    border-color: #269abc;
  }

  jmnodes.theme-info jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-info jmnode.root {}

  // jmnodes.theme-info jmexpander {}

  // jmnodes.theme-info jmexpander:hover {}

  /* greensea theme */
  jmnodes.theme-greensea jmnode {
    background-color: #1abc9c;
    color: #fff;
  }

  jmnodes.theme-greensea jmnode:hover {
    background-color: #16a085;
  }

  jmnodes.theme-greensea jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-greensea jmnode.root {}

  // jmnodes.theme-greensea jmexpander {}

  // jmnodes.theme-greensea jmexpander:hover {}

  /* nephrite theme */
  jmnodes.theme-nephrite jmnode {
    background-color: #2ecc71;
    color: #fff;
  }

  jmnodes.theme-nephrite jmnode:hover {
    background-color: #27ae60;
  }

  jmnodes.theme-nephrite jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-nephrite jmnode.root {}

  // jmnodes.theme-nephrite jmexpander {}

  // jmnodes.theme-nephrite jmexpander:hover {}

  /* belizehole theme */
  jmnodes.theme-belizehole jmnode {
    background-color: #3498db;
    color: #fff;
  }

  jmnodes.theme-belizehole jmnode:hover {
    background-color: #2980b9;
  }

  jmnodes.theme-belizehole jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-belizehole jmnode.root {}

  // jmnodes.theme-belizehole jmexpander {}

  // jmnodes.theme-belizehole jmexpander:hover {}

  /* wisteria theme */
  jmnodes.theme-wisteria jmnode {
    background-color: #9b59b6;
    color: #fff;
  }

  jmnodes.theme-wisteria jmnode:hover {
    background-color: #8e44ad;
  }

  jmnodes.theme-wisteria jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-wisteria jmnode.root {}

  // jmnodes.theme-wisteria jmexpander {}

  // jmnodes.theme-wisteria jmexpander:hover {}

  /* asphalt theme */
  jmnodes.theme-asphalt jmnode {
    background-color: #34495e;
    color: #fff;
  }

  jmnodes.theme-asphalt jmnode:hover {
    background-color: #2c3e50;
  }

  jmnodes.theme-asphalt jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-asphalt jmnode.root {}

  // jmnodes.theme-asphalt jmexpander {}

  // jmnodes.theme-asphalt jmexpander:hover {}

  /* orange theme */
  jmnodes.theme-orange jmnode {
    background-color: #f1c40f;
    color: #fff;
  }

  jmnodes.theme-orange jmnode:hover {
    background-color: #f39c12;
  }

  jmnodes.theme-orange jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-orange jmnode.root {}

  // jmnodes.theme-orange jmexpander {}

  // jmnodes.theme-orange jmexpander:hover {}

  /* pumpkin theme */
  jmnodes.theme-pumpkin jmnode {
    background-color: #e67e22;
    color: #fff;
  }

  jmnodes.theme-pumpkin jmnode:hover {
    background-color: #d35400;
  }

  jmnodes.theme-pumpkin jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-pumpkin jmnode.root {}

  // jmnodes.theme-pumpkin jmexpander {}

  // jmnodes.theme-pumpkin jmexpander:hover {}

  /* pomegranate theme */
  jmnodes.theme-pomegranate jmnode {
    background-color: #e74c3c;
    color: #fff;
  }

  jmnodes.theme-pomegranate jmnode:hover {
    background-color: #c0392b;
  }

  jmnodes.theme-pomegranate jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-pomegranate jmnode.root {}

  // jmnodes.theme-pomegranate jmexpander {}

  // jmnodes.theme-pomegranate jmexpander:hover {}

  /* clouds theme */
  jmnodes.theme-clouds jmnode {
    background-color: #ecf0f1;
    color: #333;
  }

  jmnodes.theme-clouds jmnode:hover {
    background-color: #bdc3c7;
  }

  jmnodes.theme-clouds jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-clouds jmnode.root {}

  // jmnodes.theme-clouds jmexpander {}

  // jmnodes.theme-clouds jmexpander:hover {}

  /* asbestos theme */
  jmnodes.theme-asbestos jmnode {
    background-color: #95a5a6;
    color: #fff;
  }

  jmnodes.theme-asbestos jmnode:hover {
    background-color: #7f8c8d;
  }

  jmnodes.theme-asbestos jmnode.selected {
    background-color: #11f;
    color: #fff;
  }

  // jmnodes.theme-asbestos jmnode.root {}

  // jmnodes.theme-asbestos jmexpander {}

  // jmnodes.theme-asbestos jmexpander:hover {}

  .taskboard {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: calc(100vh - #{nb-theme(header-height)} - #{nb-theme(footer-height)});
    padding: 0 2rem;


    .taskboard-wrapper {
      width: 280px;
      padding-right: 1rem;
      padding-left: 1rem;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      height: 100%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .taskboard-list {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      white-space: normal;
      //box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
      background-clip: border-box;
      border-radius: 5px;
      //background-color: #dfe3ea;
      //@include border-radius($card-border-radius);
    }

    .taskboard-header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      font-size: 13px;
      padding: 1rem 1rem 0;
    }

    .taskboard-footer {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      font-size: 13px;
      padding: 0 1rem 1rem;
    }

    .taskboard-task {
      position: relative;
      display: flex;
      flex-direction: column;
      background-clip: border-box;
      border-radius: 5px;
      //@include border-radius($card-border-radius);
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: #dfe3ea;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        cursor: grab;
      }
    }

    .taskboard-task::after {
      content: '';
      position: absolute;
      border: 4px solid transparent;
      top: 0;
      border-top-width: 12px;
      border-bottom-color: transparent;
      right: 6px;
    }

    .taskboard-task.task-status-success::after {
      border-top-color: nb-theme(color-success);
      border-right-color: nb-theme(color-success);
      border-left-color: nb-theme(color-success);
    }

    .taskboard-task.task-status-info::after {
      border-top-color: nb-theme(color-info);
      border-right-color: nb-theme(color-info);
      border-left-color: nb-theme(color-info);
    }

    .taskboard-task.task-status-warning::after {
      border-top-color: nb-theme(color-warning);
      border-right-color: nb-theme(color-warning);
      border-left-color: nb-theme(color-warning);
    }

    .taskboard-task.task-status-danger::after {
      border-top-color: nb-theme(color-danger);
      border-right-color: nb-theme(color-danger);
      border-left-color: nb-theme(color-danger);
    }

    .taskboard-cards {
      padding: 1rem;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .taskboard-task-title {
      margin-bottom: 0;
    }
  }

  .full-width {
    width: -moz-available;
  }
}
