// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme(( // app wise variables for each theme

    color-primary: #2684ff,
    color-info: #0747a6,
    color-bg: #fff,
    separator: #c4ebf6,
    shadow: none, //0 8px 20px 0 rgba(111, 178, 255, 0.267),

    link-color: #0747a6,
    link-color-hover: #2684ff,
    link-color-visited: #8591ab,

    tree-grid-icon-color: #2684ff,

    actions-fg: #f4fdff,

    //scrollbar
    scrollbar-fg: #2684ff,
    scrollbar-bg: #c4ebf6,

    //bg & shadow
    layout-fg: #000000,
    layout-bg: #fefefe,
    header-shadow: none,
    footer-shadow: none,
    sidebar-shadow: none,

    //header
    header-fg: #f4fdff,
    header-bg: #08367c,
    header-height: 7rem,

    //footer
    footer-fg: #f4fdff,
    footer-bg: #08367c,
    footer-separator: 0,
    footer-height: 4rem,

    //sidebar
    sidebar-fg: #073d8d,
    sidebar-bg: #ffffff,
    sidebar-width: 14rem,
    menu-fg: #073d8d,
    menu-bg: #ffffff,
    menu-active-fg: #2684ff,
    menu-active-bg: #ffffff,
    menu-submenu-item-border-radius: 0,
    menu-submenu-fg: #073d8d,
    menu-submenu-bg: #ffffff,
    menu-submenu-active-fg: #2684ff,
    menu-submenu-active-bg: #ffffff,
    menu-submenu-active-border-color: 0,
    menu-submenu-hover-fg: #2684ff,
    menu-submenu-hover-bg: #ffffff,
    menu-submenu-item-padding: 0.75rem 2rem,
    menu-icon-color: #073d8d,
    menu-icon-active-color: #2684ff,
    menu-group-fg: #073d8d,
    menu-item-separator: 0,

    //context menu
    context-menu-fg: #f4fdff,
    context-menu-bg: #08367c,
    context-menu-active-fg: #f4fdff,
    context-menu-active-bg: #0747a6,
    context-menu-border: #08367c,

    //card
    card-fg: #0747a6,
    card-bg: #fefefe,
    card-header-fg-heading: #0747a6, //heading card text color
    card-separator: #c4ebf6,
    card-shadow: none,

    //search
    search-btn-open-fg: #f4fdff,
    search-btn-close-fg: #f4fdff,
    search-bg: #0747a6,
    search-text: #f4fdff,
    search-info: #f4fdff,
    search-dash: #f4fdff,
    search-placeholder: #f4fdff,

    //form
    form-control-border-color: #dfe3ea,
    form-control-selected-border-color: #2684ff,
    form-control-placeholder-color: #babdc4,

    //stepper
    stepper-accent-color: #2684ff,
    stepper-fg: #b4c7e4,

    //checkbox
    checkbox-bg: #dfe3ea,
    checkbox-checked-border-color: #2684ff,
    checkbox-checked-checkmark: #fefefe,
    checkbox-checkmark: #dfe3ea,
    checkbox-checked-bg: #2684ff,
    radio-checked-border-color: #2684ff,
    radio-checked-checkmark: #0747a6,

    //smart-table
    smart-table-header-fg: #0747a6,
    smart-table-fg: #0747a6,
    smart-table-fg-secondary: #2684ff,
    smart-table-paging-bg-active: #0747a6,
    smart-table-paging-hover: #e6f3ff,

    //popover
    popover-border: #2684ff,
    popover-bg: #2684ff,
    popover-fg: #f4fdff,

    //calendar
    calendar-selected-item-bg: #2684ff,
    calendar-hover-item-bg: #2684ff,
    calendar-active-item-bg: #2684ff,
    calendar-range-bg-in-range: #c4ebf6,
    datepicker-border: #2684ff,

    //progress bar
    progress-bar-height-xs: 0.4rem,
    progress-bar-bg: #dfe3ea !important,

    sidebar-header-gap: 0,
    sidebar-header-height: initial,
    layout-content-width: 1400px,

    font-main: Roboto,
    font-secondary: Exo,

    switcher-background: #2684ff,
    switcher-background-percentage: 50%,
    drops-icon-line-gadient: -webkit-linear-gradient(#0747a6, #08367c),

    list-item-border-width: 1px,

    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #302c6e 0%, #0747a6 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #ecf2f5,
    chart-panel-summary-border-color: #0747a6,
    chart-panel-summary-border-width: 1px,

    ecommerce-card-border-width: 1px,

    progress-bar-background: linear-gradient(90deg, #0747a6 0%, #2684ff 100%),
  ), default, default);

$nb-themes: nb-register-theme(( // app wise variables for each theme

    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,

    font-main: Roboto,
    font-secondary: Exo,

    switcher-background: #2684ff,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#0747a6, #0747a6),

    list-item-border-width: 1px,

    slide-out-container-width: 30%,
    slide-out-background: radial-gradient(circle, #302c6e 0%, #0747a6 100%),
    slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
    slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),

    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
    chart-panel-summary-border-color: #0747a6,
    chart-panel-summary-border-width: 1px,

    ecommerce-card-border-width: 1px,

    progress-bar-background: linear-gradient(90deg, #0747a6 0%, #2684ff 100%),
  ), cosmic, cosmic);

$nb-themes: nb-register-theme(( // app wise variables for each theme
    sidebar-header-gap: 2rem,
    sidebar-header-height: initial,
    layout-content-width: 1400px,

    font-main: Roboto,
    font-secondary: Exo,

    switcher-background: #2b2d34,
    switcher-background-percentage: 14%,
    drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

    list-item-border-width: 1px,

    slide-out-container-width: 30%,
    slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
    slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

    chart-panel-summary-box-shadow: none,
    chart-panel-summary-background-color: #f7fafb,
    chart-panel-summary-border-color: #ebeff1,
    chart-panel-summary-border-width: 1px,

    ecommerce-card-border-width: 1px,

    progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
  ), corporate, corporate);
