<div class="container-fluid px-0">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/page/company/staff-list/A-Z">Staff List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Staff Info</li>
    </ol>
  </nav>

  <div class="row align-items-start justify-content-between position-relative mt-4 mx-0">
    <button class="mb-auto btn btn-info d-inline-flex position-absolute" (click)="onEdit(StaffId)"
      style="right: 0; z-index: 10;">
      <i class="fas fa-pen"></i>
      <div class="small ml-2 d-none d-lg-block">
        Edit
      </div>
    </button>

    <div class="col-xl-3 col-lg-4 col-md-8 mx-auto">

      <div class="mb-2 d-flex flex-column justify-content-center">
        <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-2">
          <img src="{{ StaffPicturePath }}" class="image-fill">
        </div>
        <label class="text-center" for="staff-esign">E-signature</label>
        <div class="d-flex justify-content-center overflow-hidden mx-auto mb-4">
          <img src="{{ StaffSignature }}" class="image-fluid e-sign-image">
        </div>
      </div>

    </div>


    <div class="col-md-8 col-sm-12 d-flex flex-column text-center text-md-left">
      <h1 class="mt-0 mb-2 p-0">{{ StaffNameEn }}</h1>
      <h3 class="mt-0 mb-3 p-0">{{ StaffName }}</h3>
      <h6>
        <a href="mailto: {{ StaffEmail }}">
          <i class="fas fa-envelope mr-2"></i>
          <div *ngIf="StaffEmail">{{ StaffEmail }}
          </div>
          <div *ngIf="StaffEmail===''">-
          </div>
        </a>
      </h6>
      <h6>
        <a href="tel: {{ StaffTel }}">
          <i class="fas fa-phone mr-2"></i>
          <div *ngIf="StaffEmail">{{ StaffTel }}
          </div>
          <div *ngIf="StaffTel===''">-
          </div>
        </a>
      </h6>
      <h6><i class="fas fa-map-marker-alt mr-2"></i>
        {{ StaffAddress }}
      </h6>

      <nb-card class="mt-2" *ngIf="StaffPositionName!=''">
        <nb-card-body class="info-card">
          <h4 class="mb-2">{{ StaffPositionName }}</h4>
          <div *ngIf="StaffStart!=0">
            <h6 class="mb-1" *ngIf="StaffDate"><i class="far fa-calendar-alt mr-2"></i>{{ StaffStart*1000|date }} - now
            </h6>

            <h6 class="mb-1" *ngIf="!StaffDate"><i class="far fa-calendar-alt mr-2"></i>{{ StaffStart*1000|date }} -
              {{ StaffResignation*1000|date }}</h6>
          </div>
          <h6 class="mb-0"><i class="fas fa-dollar-sign mr-2"></i> {{ StaffPositionSalary }} THB
          </h6>
        </nb-card-body>
      </nb-card>

    </div>
  </div>

  <div class="conainer-fluid mt-2">
    <hr>
  </div>

  <div class="row m-0 pb-3 pt-4">
    <h5>Position History</h5>
  </div>
  <div *ngIf="!ShowPosition">Enter History In Edit Page</div>

  <table style="width:100%" *ngIf="ShowPosition">
    <tr>
      <th>
        <h6>Position</h6>
      </th>
      <th>
        <h6>Salary</h6>
      </th>
      <th>
        <h6>Start Date</h6>
      </th>
      <th>
        <h6>End Date</h6>
      </th>
    </tr>

    <tr *ngFor="let position of PositionHistory; let in = index;">
      <td>
        <p>{{ position.PositionName }}</p>
      </td>
      <td>
        <p>{{ position.PositionSalary }}</p>
      </td>
      <td>
        <p>{{ position.PositionStart*1000|date }}</p>
      </td>
      <td *ngIf="position.PositionEnd == 0; else value1">
        <p>now</p>
      </td>
      <ng-template #value1>
        <p>{{ position.PositionEnd*1000|date }}</p>
      </ng-template>
    </tr>
  </table>

</div>