table,
th,
td {
  border: 1px solid #c4ebf6;

  h6 {
    margin: 0.5rem;
    color: #073d8d;
    font-weight: 600;
  }

  p {
    margin: 0.5rem;
  }
}

th {
  background-color: #ffffff;
}

tr {

  &:nth-child(even) {
    background-color: #ffffff;
  }

  &:nth-child(odd) {
    background-color: #f5f7fc;
  }

  p {
    color: #0747a6;
  }
}

.table-add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.75rem !important;
  padding: 0.375rem 0.5rem;
  background: #40dc7e;
  color: #ffffff !important;
  border-radius: 0.375rem;
}

.table-edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem !important;
  color: #2684ff !important;

  &:hover {
    color: #40dc7e !important;
  }
}

.table-del-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 2rem !important;
  color: #2684ff !important;

  &:hover {
    color: #ff4c6a !important;
  }
}
