<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<div class="container-fluid">
  <div class="row">
    <div class="col-9">


      <html>

      <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="generator" content="LibreOffice 6.0.7.3 (Linux)" />
        <meta name="author" content="USER" />
        <meta name="created" content="2019-07-19T05:50:19" />
        <meta name="changedby" content="USER" />
        <meta name="changed" content="2019-08-01T06:55:51" />
        <meta name="AppVersion" content="15.0300" />
        <meta name="DocSecurity" content="0" />
        <meta name="HyperlinksChanged" content="false" />
        <meta name="LinksUpToDate" content="false" />
        <meta name="ScaleCrop" content="false" />
        <meta name="ShareDoc" content="false" />

        <style type="text/css">
          body,
          div,
          table,
          thead,
          tbody,
          tfoot,
          tr,
          th,
          td,
          p {
            font-family: "Tahoma";
            font-size: x-small
          }

          a.comment-indicator:hover+comment {
            background: #ffd;
            position: absolute;
            display: block;
            border: 1px solid black;
            padding: 0.5em;
          }

          a.comment-indicator {
            background: red;
            display: inline-block;
            border: 1px solid black;
            width: 0.5em;
            height: 0.5em;
          }

          comment {
            display: none;
          }
        </style>

      </head>

      <body>
        <table cellspacing="0" border="0" class="mx-auto">
          <colgroup width="82"></colgroup>
          <colgroup width="243"></colgroup>
          <colgroup width="92"></colgroup>
          <colgroup width="48"></colgroup>
          <colgroup span="2" width="145"></colgroup>
          <tr>
            <td colspan=2 rowspan=6 height="137" align="center" valign=top>
              <font size=3 color="#000000"><img class="img-fluid" src="{{ logo }}" alt="logo" /></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 align="right" valign=middle>
              <font size=3 color="#000000">{{ CompanyName }}</font>
            </td>
          </tr>
          <tr>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 rowspan=3 align="right" valign=middle>
              <font size=3 color="#000000">{{ CompanyAddress }}</font>
            </td>
          </tr>
          <tr>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 rowspan=2 align="right" valign=middle>
              <font size=3 color="#000000">Tel: {{ CompanyTel }}<br>Tax ID: {{ CompanyTaxId }}</font>
            </td>
          </tr>
          <tr>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="left" valign=top>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 align="right" valign=middle><b>
                <font size=3 color="#000000">ใบเสร็จ / Receipt</font>
              </b></td>
          </tr>
          <tr>
            <td height="23" align="left" valign=top>
              <font size=3 color="#000000">ชื่อลูกค้า</font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000">{{ ClientName }}</font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=2 rowspan=2 align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000">No.</font>
            </td>
          </tr>
          <tr>
            <td height="23" align="left" valign=top>
              <font size=3 color="#000000">ที่อยู่</font>
            </td>
            <td rowspan=2 align="left" valign=top>
              <font size=3 color="#000000">{{ ClientAddress }}</font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000">Date:</font>
            </td>
          </tr>
          <tr>
            <td height="23" align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="left" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=3 rowspan=3 align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="left" valign=top>
              <font size=3 color="#000000">โทรศัพท์</font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000">{{ ClientTel }}</font>
            </td>
            <td align="left" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="left" valign=top>
              <font size=3 color="#000000">Tax ID</font>
            </td>
            <td align="left" valign=top>
              <font size=3 color="#000000">{{ ClientTaxId }}</font>
            </td>
            <td align="left" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
        </table>

        <div class="row">
          <div class="col-12">
            <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
              (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
            </ng2-smart-table>
          </div>
        </div>
        <table cellspacing="0" border="0" class="mx-auto">
          <colgroup width="82"></colgroup>
          <colgroup width="243"></colgroup>
          <colgroup width="92"></colgroup>
          <colgroup width="48"></colgroup>
          <colgroup span="2" width="145"></colgroup>
          <tr>
            <td height="23" align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="left" valign=middle bgcolor="#BFBFBF"><b>
                <font size=3 color="#000000">Amount</font>
              </b></td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="right" valign=middle bgcolor="#BFBFBF">
              <font size=3 color="#000000">THB {{ SubTotal | number : '1.2-2' }}</font>
            </td>
          </tr>
          <tr>
            <td colspan=2 height="23" align="left" valign=middle><b><u>
                  <font size=3 color="#000000">TERMS &amp; CONDITION OF SALES</font>
                </u></b></td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="left" valign=middle bgcolor="#BFBFBF"><b>
                <font size=3 color="#000000">VAT 7%</font>
              </b></td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="right" valign=middle bgcolor="#BFBFBF">
              <font size=3 color="#000000">THB {{ VatPrice | number : '1.2-2' }}</font>
            </td>
          </tr>
          <tr>
            <td height="23" align="left" valign=middle>
              <font size=3 color="#000000">Price :</font>
            </td>
            <td align="left" valign=middle>
              <font size=3 color="#000000">Price are quote in Thai Baht</font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="left" valign=middle bgcolor="#BFBFBF"><b>
                <font size=3 color="#000000">Total Amount</font>
              </b></td>
            <td
              style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
              align="right" valign=middle bgcolor="#BFBFBF">
              <font size=3 color="#000000">THB {{ Total | number : '1.2-2' }}</font>
            </td>
          </tr>
          <tr>
            <td colspan=2 height="23" align="left" valign=top>
              <font size=3 color="#000000">Payment Terms:</font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td rowspan=2 align="left" valign=top>
              <font size=3 color="#000000">
                <form #projectForm="ngForm">
                  <div class="form-group">
                    <textarea nbInput ngModel rows="3" placeholder="Enter payment terms" class="form-control"
                      id="project-payment" name="projectPayment" #projectPayment="ngModel" [(ngModel)]="ProjectPayment"
                      (blur)="onEditPayment()"></textarea>
                  </div>
                </form>
              </font>

            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td colspan=2 height="23" align="left" valign=middle>
              <font size=3 color="#000000">บจก. คราฟฟิตี้ สตูดิ โอ </font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=2 align="center" valign=middle><b>
                <font size=3 color="#000000">Your Sincarely,</font>
              </b></td>
          </tr>
          <tr>
            <td colspan=2 height="23" align="left" valign=middle>
              <font size=3 color="#000000">เลขที่บัญชี 013-1-75181-8 </font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
          </tr>
          <tr>
            <td colspan=2 height="23" align="left" valign=top>
              <font size=3 color="#000000">ธนาคารกสิกรไทย</font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=2 align="center" valign=middle>
              <font size=3 color="#000000"><img class="img-fluid" src="{{ HeadSig }}" /></font>
            </td>
          </tr>
          <tr>
            <td height="23" align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td align="center" valign=middle>
              <font size=3 color="#000000"><br></font>
            </td>
            <td colspan=2 align="center" valign=middle>
              <font size=3 color="#000000">{{ HeadName }}</font>
            </td>
          </tr>
        </table>
        <!-- ************************************************************************** -->
      </body>

      </html>


    </div>
    <div class="col-3">
      <button type="button" class="btn btn-success btn-sm float-right" style="margin-left: auto;
      margin-right: auto;" (click)="genPDF()">
        Gen Receipt PDF
      </button>
    </div>
  </div>
</div>