<!-- <div class="taskboard page-height">
  <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
    <div class="taskboard-list">
      <div class="taskboard-header text-uppercase">
        <strong (click)="gotoinfo(board.SprintId)">{{board.SprintName}}</strong>
      </div>
      <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group"'>
        <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
          [ngClass]="task.class"> -->
<!-- <div *ngIf="!task.edit"> -->
<!-- <div (click)="openXl(taskInfoPopup);"> -->
<!-- <div class="taskboard-task-title">{{task.TaskName}}</div>
          <small class="card-text text-muted">{{task.TaskDesc}}</small> -->
<!-- </div> -->

<!-- <div (click)="editTaskNameClick(i,j,task.TaskName)">
              <a class="btn-edit">
                <i class="fas fa-edit mr-2"></i>
              </a>
            </div> -->
<!-- </div> -->

<!-- <div *ngIf="task.edit">
            <form [formGroup]="taskEditForm">
              <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName"
                placeholder="Task name" (blur)="onEditTaskName(task.TaskId,i,j)"
                (keyup.enter)="onEditTaskName(task.TaskId,i,j)">
            </form>
          </div> -->

<!-- <ng-template #taskInfoPopup let-modal>
            <ngx-task-edit [Taskdata]='task' [Listdata]='board' (gettaskEvent)="getPage()"></ngx-task-edit>
          </ng-template> -->

<!-- </div>
      </div> -->
<!-- <div *ngIf="!board.add" (click)="addTaskClick(i)">
        <a class="btn-add">
          <i class="fas fa-plus mr-2"></i> Add a task
        </a>
      </div> -->
<!-- <div *ngIf="board.add">
        <form [formGroup]="taskAddForm">
          <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName1"
            placeholder="Task name" (blur)="onAddTask(board.ListId)" (keyup.enter)="onAddTask(board.ListId)">
        </form>
      </div> -->
<!-- </div>
  </div>
</div> -->

<div class="taskboard page-height scrollHorizontal">
  <div class="row mx-0 mb-4 d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h1 class="mt-0">Select Sprint</h1>
    </div>
    <div class="d-flex flex-row align-items-center" style="height: max-content;">
      <p class="linked" (click)="gotoaddpage()">
        Create new Sprint
      </p>
    </div>
  </div>
  <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
    <div class="taskboard-list bordered">
      <div class="taskboard-header text-uppercase">
        <div class="pointer-select">
          <strong (click)="gotoinfo(board.SprintId)">{{board.SprintName}}</strong>
          <br>
          <i class="far fa-clock"></i>
          {{ board.SprintEnd *1000 | date : ' MMM, dd' }}
        </div>

        <ng-template #editSprintPopup let-modal>
          <ngx-sprint-edit [Sprintdata]='board.SprintId' [indexdata]='i' [projectid]='id'
            (editsprintEvent)="editSprintValue($event)">
          </ngx-sprint-edit>
        </ng-template>

        <ng-template #menu>
          <ul class="option-menu">
            <li class="mb-2" (click)="openVerticallyCentered(editSprintPopup);">Edit
            </li>
            <li (click)="deleteSprint(board.SprintId,i)">Delete</li>
          </ul>
        </ng-template>
        <div class="option-icon">
          <div [nbPopover]="menu" nbPopoverPlacement="top" [nbPopoverContext]="{popover: popover}">
            <i class="fas fa-ellipsis-v btn-card-option p-0"></i>
          </div>
        </div>
      </div>
      <div class="taskboard-cards" id="{{board.ListId}}">
        <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
          [ngClass]="task.class">
          <div class="taskboard-task-title m-0">{{task.TaskName}}</div>
          <small class="card-text text-muted">{{task.TaskDesc}}</small>
          <div *ngIf="task.DueDate !=0"><i class="far fa-clock"></i>
            {{ task.DueDate *1000 | date : ' MMM, dd' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>