<div class="container-fluid">
    <div class="row">
        <div class="col-2 d-none d-md-block p-0 sidebar-menu">
            <nb-card class="sidebar-card">
                <nb-card-body class="p-0">
                    <nb-menu tag="menu" [items]="items"></nb-menu>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-10 col-12 pb-4 pt-sm-4 pt-2 pl-sm-5 pr-sm-5 pl-0 px-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>