<div class="container-fluid">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3 class="mb-4">Receipt</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
        (userRowSelect)="TableToInfo($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>