<div class="container-fluid px-0">
    <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
    </ngx-loading>

    <!-- header -->
    <div class="row my-3">
        <div class="col-12 d-flex">
            <div class="mr-auto d-inline-flex align-items-center">
                <h3>Staff List</h3>
                <!-- <button nb-button class="btn btn-success d-inline-flex ml-4" size="small"
                    routerLink="/page/company/staff-add">
                    <i class="fas fa-plus"></i>
                    <div class="small ml-2 d-none d-xl-block">
                        New staff
                    </div>
                </button> -->
                <ng-template #invitePopup let-modal>
                    <form [formGroup]="inviteForm">
                        <div class="form-group">
                            <div class="modal-body p-4">

                                <button type="button" class="close" aria-label="Close" (click)="onCancelInvite()">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <h3>Invite Staff</h3>

                                <label for="position">E-mail for Invite</label>
                                <input nbInput type="email" class="form-control" id="invitemail" formControlName="Email"
                                    placeholder="E-mail"
                                    [status]="inviteForm.get('Email').touched ? (inviteForm.get('Email').valid  ? 'success' : 'danger') : ''">
                                <div class="text-danger"
                                    *ngIf="!inviteForm.get('Email').valid && inviteForm.get('Email').touched">
                                    Please enter E-mail.
                                </div>

                                <div class="row mt-5 mx-0 d-flex justify-content-between">
                                    <button class="btn btn-secondary btn-round mr-3"
                                        (click)="onCancelInvite()">Cancel</button>
                                    <button class="btn btn-info btn-round" (click)="inviteStaff()"
                                        [disabled]="!inviteForm.get('Email').valid">
                                        Invite
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
                <button nb-button class="btn btn-success d-inline-flex ml-4" size="small"
                    (click)="openVerticallyCentered(invitePopup)">
                    <i class="fas fa-plus"></i>
                    <div class="small ml-2 d-none d-xl-block">
                        Invite staff
                    </div>
                </button>
            </div>
            <!-- sort, search -->
            <div class="d-none d-xl-block" *ngIf="isGridView">
                <div class="d-inline-flex align-items-center">
                    <label class="m-0" style="width: 150px; color: #babdc4;">Sorting by</label>
                    <nb-select class="mr-4 sort-button" selected="{{Bysort}}" outline status="primary" size="small"
                        (selectedChange)="selectSort($event)">
                        <nb-option *ngFor="let menu of selectedSort" value="{{menu.value}}">{{menu.Show}}</nb-option>
                    </nb-select>
                    <div class="input-group has-search-icon input-group-fill-only pr-4 align-items-center">
                        <input type="text" placeholder="Search" class="form-control border-0" [(ngModel)]="searchTerm">
                    </div>
                </div>
            </div>
            <!-- view option -->
            <div class="btn-group btn-group-toggle btn-outline-toggle-group" role="group">
                <button type="button" class="btn btn-secondary btn-view" [class.active]="isGridView"
                    (click)="isGridView = true">
                    <i class="fas fa-th-large"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-view" [class.active]="!isGridView"
                    (click)="isGridView = false">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- grid view -->
    <div class="row mt-5" *ngIf="isGridView">
        <div class="col-sm-12 col-lg-6 col-xxl-4 pb-2" *ngFor="let s of filterstaffs; let i = index;">

            <!-- staff card -->
            <nb-card class="card-list">

                <!-- option -->
                <ng-template #menu>
                    <ul class="option-menu">
                        <li class="mb-2" (click)="onEdit(s.StaffId)">Edit</li>
                        <li (click)="onDelete(s.StaffId)">Delete</li>
                    </ul>
                </ng-template>
                <div class="option-icon">
                    <div [nbPopover]="menu" nbPopoverPlacement="top" [nbPopoverContext]="{popover: popover}">
                        <i class="fas fa-ellipsis-v btn-card-option p-0"></i>
                    </div>
                </div>

                <nb-card-body (click)="goToInfo(s.StaffId)">
                    <div class="container p-4">
                        <div class="row d-flex align-items-center">

                            <!-- staff image -->
                            <div class="col-sm-6 col-12 text-center">
                                <div
                                    class="rounded-circle d-flex justify-content-center overflow-hidden box-150 mx-auto mb-3 mb-sm-0">
                                    <img src="http://206.189.34.171:7777/staff/img/{{ s.StaffPicturePath }}"
                                        class="image-fill">
                                </div>
                            </div>

                            <!-- staff data -->
                            <div class="col-sm-6 col-12 text-center text-sm-left pl-sm-4 pl-0">
                                <div class="d-flex flex-column staff-data">
                                    <div class="mb-auto">
                                        <h4 class="col-md-10 col-12 p-0">{{ s.StaffNameEn }}</h4>
                                    </div>
                                    <h6 class="mb-2" *ngIf="s.StaffPositionHistory.length > 0">
                                        {{s.StaffPositionHistory[0].PositionName}}</h6>
                                    <a href="mailto: {{ s.StaffEmail }}" class="mb-1">
                                        <i class="fas fa-envelope mr-2"></i>{{ s.StaffEmail }}</a>
                                    <a href="tel: {{ s.StaffTel }}" class="mb-2"><i
                                            class="fas fa-phone mr-2"></i>{{ s.StaffTel }}</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </nb-card-body>
            </nb-card>

        </div>
    </div>

    <!-- table view -->
    <div class="row mt-5" *ngIf="!isGridView">
        <div class="col-12">
            <ng2-smart-table [settings]="setting" [source]="source" (delete)="onDeleteConfirm($event)"
                (userRowSelect)="TableToInfo($event)" (edit)="onEditConfirm($event)">
            </ng2-smart-table>
        </div>
    </div>

</div>