<div class="container mb-5 mt-sm-5 mt-3">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <!-- header -->
  <div class="row my-3">
    <div class="col-12 d-flex">
      <div class="mr-auto d-inline-flex align-items-center">
        <h3>Client List</h3>
        <button nb-button class="btn btn-success d-inline-flex ml-4" size="small" routerLink="/page/client/add">
          <i class="fas fa-plus"></i>
          <div class="small ml-2 d-none d-xl-block">
            New client
          </div>
        </button>
      </div>
      <!-- sort, search -->
      <div class="d-none d-lg-block" *ngIf="isGridView">
        <div class="d-inline-flex align-items-center">
          <label class="m-0" style="width: 150px; color: #babdc4;">Sorting by</label>
          <nb-select class="mr-4 sort-button" selected="{{Bysort}}" outline status="primary" size="small"
            (selectedChange)="selectSort($event)">
            <nb-option *ngFor="let menu of selectedSort" value="{{menu.value}}">{{menu.Show}}</nb-option>
          </nb-select>
          <div class="input-group has-search-icon input-group-fill-only pr-4 align-items-center">
            <input type="text" placeholder="Search" class="form-control border-0" [(ngModel)]="searchTerm">
          </div>
        </div>
      </div>
      <!-- view option -->
      <div class="btn-group btn-group-toggle btn-outline-toggle-group" role="group">
        <button type="button" class="btn btn-secondary btn-view" [class.active]="isGridView"
          (click)="isGridView = true">
          <i class="fas fa-th-large"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-view" [class.active]="!isGridView"
          (click)="isGridView = false">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- grid view -->
  <div class="row mt-5" *ngIf="isGridView">
    <div class="col-sm-12 col-lg-6 col-xxl-4 pb-2" *ngFor="let c of filterclients; let i = index;">

      <!-- client card -->
      <nb-card class="card-list">

        <!-- option -->
        <ng-template #menu>
          <ul class="option-menu">
            <li class="mb-2" (click)="onEdit(c.ClientId)">Edit</li>
            <li (click)="onDelete(c.ClientId)">Delete</li>
          </ul>
        </ng-template>
        <div class="option-icon">
          <div [nbPopover]="menu" nbPopoverPlacement="top" [nbPopoverContext]="{popover: popover}">
            <i class="fas fa-ellipsis-v btn-card-option p-0"></i>
          </div>
        </div>

        <nb-card-body (click)="goToInfo(c.ClientId)">
          <div class="container p-4">
            <div class="row d-flex align-items-center">

              <!-- client image -->
              <div class="col-sm-5 col-12 text-center">
                <div class="rounded-circle box-150 d-flex justify-content-center overflow-hidden mx-auto mb-3 mb-sm-0">
                  <img class="image-fill" src="http://206.189.34.171:7777/client/img/{{ c.ClientPicturePath }}" alt="">
                </div>
              </div>

              <!-- client data -->
              <div class="col-sm-7 col-12 text-center text-sm-left pl-sm-5 pl-0">
                <div class="mb-auto flex-column">
                  <h4>{{ c.ClientNameEn }}</h4>
                  <p class="mb-1">
                    <a href="mailto: {{c.ClientEmail }}">
                      <i class="fas fa-envelope mr-2"></i>
                      {{c.ClientEmail }}
                    </a>
                  </p>
                  <p>
                    <a href="tel: {{c.ClientTel }}">
                      <i class="fas fa-phone mr-2"></i>
                      {{c.ClientTel }}
                    </a>
                  </p>
                </div>
                <div class="d-flex flex-column" *ngIf="c.ClientContact.length > 0">
                  <h6 class="mb-2">{{ c.ClientContact[0].ContactNameEn }}</h6>
                  <p class="mb-1">
                    <a href="mailto: {{ c.ClientContact[0].ContactEmail }}">
                      <i class="fas fa-envelope mr-2"></i>
                      {{ c.ClientContact[0].ContactEmail }}
                    </a>
                  </p>
                  <p class="mb-0">
                    <a href="tel: {{ c.ClientContact[0].ContactTel }}">
                      <i class="fas fa-phone mr-2"></i>
                      {{ c.ClientContact[0].ContactTel }}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <!-- table view -->
  <div class="row mt-5" *ngIf="!isGridView">
    <div class="col-12">
      <ng2-smart-table [settings]="setting" [source]="source" (delete)="onDeleteConfirm($event)"
        (userRowSelect)="TableToInfo($event)" (edit)="onEditConfirm($event)">
      </ng2-smart-table>
    </div>
  </div>

</div>