<div class="container-fluid">
  <div class="row header-container">
    <div class="col-12">
      <div class="logo-containter">
        <div class="logo" (click)="goToHome()"><span>MindTask</span></div>
      </div>
    </div>
  </div>
</div>