<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Creating Sprint</h1>
      <p>Please fill the form below.</p>
    </div>
  </div>
  <nb-stepper orientation="horizontal">

    <nb-step label="Add sprint info" [stepControl]="sprintForm">

      <form class="col-6 mx-auto mb-5" [formGroup]="sprintForm" style="margin-top: -2rem;">

        <label for="sprint-name">Sprint name</label>
        <input nbInput type="text" class="form-control" id="sprint-name" formControlName="SprintName"
          placeholder="Sprint name"
          [status]="sprintForm.get('SprintName').touched ? (sprintForm.get('SprintName').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger" *ngIf="!sprintForm.get('SprintName').valid && sprintForm.get('SprintName').touched">
          Please enter sprint name.
        </div>

        <label for="sprint-start-date">Start Date</label>
        <input nbInput class="form-control" id="sprint-start-date" formControlName="SprintStart"
          placeholder="Enter start date" [nbDatepicker]="startDate"
          [status]="sprintForm.get('SprintStart').touched ? (sprintForm.get('SprintStart').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #startDate (dateChange)="startDatePick($event)"></nb-datepicker>
        <div class="text-danger" *ngIf="!sprintForm.get('SprintStart').valid && sprintForm.get('SprintStart').touched">
          Please enter start date.
        </div>

        <label for="sprint-end-date">End Date</label>
        <input nbInput class="form-control" id="sprint-end-date" formControlName="SprintEnd"
          placeholder="Enter end date" [nbDatepicker]="endDate"
          [status]="sprintForm.get('SprintEnd').touched ? (sprintForm.get('SprintEnd').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #endDate [min]="min" [max]="max"></nb-datepicker>
        <div class="text-danger" *ngIf="!sprintForm.get('SprintEnd').valid && sprintForm.get('SprintEnd').touched">
          Please enter end date.
        </div>

      </form>

      <div class="container-btn float-left">
        <button nbButton class="btn-block btn-secondary" (click)="cancelSprint()">
          cancel
        </button>
      </div>
      <div class="container-btn float-right">
        <button class="btn-block" nbButton nbStepperNext [disabled]="sprintForm.invalid">
          next
        </button>
      </div>

    </nb-step>

    <nb-step label="Add tasks to sprint">

      <div class="board d-flex justify-content-around" style="height: 50vh;">

        <!-- <div class="listed mat-elevation-z1">
          <h3>All tasks</h3>
          <div class="list-content">
            <div class="py-1" #taskslist="cdkDropList" cdkDropList [cdkDropListData]="allTasks"
              [cdkDropListConnectedTo]="[sprintlist]" (cdkDropListDropped)="onTaskDrop1($event)">

              <nb-card class="mb-2 bordered" style="overflow: auto;" *ngFor="let task of allTasks; let i = index;"
                cdkDrag>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                <nb-card-body class="p-2 m-0">
                  <div class="row m-0 d-flex justify-content-between">
                    <div class="row m-0 align-items-center">
                      <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4"
                        [ngClass]="{'critical': (task.TaskPoint>10), 'major': (task.TaskPoint<=10&&task.TaskPoint>5), 'minor': (task.TaskPoint<=5) }">
                        <h5 class="m-0">{{ task.TaskPoint }}pt</h5>
                      </div>
                      <div class="flex-column">
                        <h5>{{task.TaskName}}</h5>
                        <p class="mb-0">{{ task.TaskDesc }}</p>
                      </div>
                    </div>
                    <i class="fas fa-times"></i>
                  </div>
                </nb-card-body>
              </nb-card>

            </div>
          </div>
        </div>

        <div class="listed mat-elevation-z1">
          <h3>Sprint tasks</h3>
          <div class="list-content">
            <div class="py-1" #sprintlist="cdkDropList" cdkDropList [cdkDropListData]="sprintTasks"
              [cdkDropListConnectedTo]="[taskslist]" (cdkDropListDropped)="onTaskDrop1($event)">

              <nb-card class="mb-2 bordered" style="overflow: auto;" *ngFor="let task of sprintTasks; let i = index;"
                cdkDrag>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                <nb-card-body class="p-2 m-0">
                  <div class="row m-0 d-flex justify-content-between">
                    <div class="row m-0 align-items-center">
                      <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4"
                        [ngClass]="{'critical': (task.TaskPoint>10), 'major': (task.TaskPoint<=10&&task.TaskPoint>5), 'minor': (task.TaskPoint<=5) }">
                        <h5 class="m-0">{{ task.TaskPoint }}pt</h5>
                      </div>
                      <div class="flex-column">
                        <h5>{{task.TaskName}}</h5>
                        <p class="mb-0">{{ task.TaskDesc }}</p>
                      </div>
                    </div>
                    <i class="fas fa-times"></i>
                  </div>
                </nb-card-body>
              </nb-card>

            </div>
          </div>
        </div> -->

        <div class="taskboard page-height scrollHorizontal">
          <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
            <div class="taskboard-list bordered">
              <div class="taskboard-header text-uppercase">
                <strong>{{board.ListName}}</strong>
              </div>
              <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group1"'>
                <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
                  [ngClass]="task.class">
                  <div class="row mx-0 justify-content-between align-items-center">
                    <div class="taskboard-task-title m-0">{{task.TaskName}}</div>
                    <!-- <small class="card-text text-muted">{{task.TaskDesc}}</small> -->
                    <div *ngIf="task.DueDate !=0"><i class="far fa-clock"></i>
                      {{ task.DueDate *1000 | date : ' MMM, dd' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="taskboard-wrapper" *ngFor="let board1 of sprintTasks;let i = index;">
            <div class="taskboard-list bordered">
              <div class="taskboard-header text-uppercase">
                <strong>{{board1.ListName}}</strong>
              </div>
              <div class="taskboard-cards" id="{{board1.ListId}}" [dragula]='"task-group1"'>
                <div class="taskboard-task" *ngFor="let task1 of board1.Task;let j = index;" id="{{task.TaskId}}"
                  [ngClass]="task1.class">
                  <div class="row mx-0 justify-content-between align-items-center">
                    <div class="taskboard-task-title m-0">{{task1.TaskName}}</div>
                    <!-- <small class="card-text text-muted">{{task1.TaskDesc}}</small> -->
                    <div *ngIf="task1.DueDate !=0">
                      <i class="far fa-clock"></i>
                      {{ task.DueDate *1000 | date : ' MMM, dd' }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-btn float-left">
        <button class="btn-block" nbButton nbStepperPrevious>
          previous
        </button>
      </div>
      <div class="container-btn float-right">
        <button class="btn btn-success btn-block" (click)="onAddSprint()">
          Create sprint
        </button>
      </div>

    </nb-step>
  </nb-stepper>
</div>