<!-- <div class="taskboard page-height">
  <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
    <div class="taskboard-list">
      <div class="taskboard-header text-uppercase">
        <strong>{{board.ListName}}</strong>
      </div>
      <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group"'>
        <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
          [ngClass]="task.class">
          <div *ngIf="!task.edit">
            <div (click)="openXl(taskInfoPopup);">
              <div class="taskboard-task-title">{{task.TaskName}}</div>
              <small class="card-text text-muted">{{task.TaskDesc}}</small>
            </div>

            <div (click)="editTaskNameClick(i,j,task.TaskName)">
              <a class="btn-edit">
                <i class="fas fa-edit mr-2"></i>
              </a>
            </div>
          </div>

          <div *ngIf="task.edit">
            <form [formGroup]="taskEditForm">
              <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName"
                placeholder="Task name" (blur)="onEditTaskName(task.TaskId,i,j)"
                (keyup.enter)="onEditTaskName(task.TaskId,i,j)">
            </form>
          </div>

          <ng-template #taskInfoPopup let-modal>
            <ngx-task-edit [Taskdata]='task' [Listdata]='board' (gettaskEvent)="getPage()"></ngx-task-edit>
          </ng-template>

        </div>
      </div>
      <div *ngIf="!board.add" (click)="addTaskClick(i)">
        <a class="btn-add">
          <i class="fas fa-plus mr-2"></i> Add a task
        </a>
      </div>
      <div *ngIf="board.add">
        <form [formGroup]="taskAddForm">
          <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName1"
            placeholder="Task name" (blur)="onAddTask(board.ListId)" (keyup.enter)="onAddTask(board.ListId)">
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="taskboard page-height scrollHorizontal">

  <div class="row mx-0 mb-4 d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h2>
        {{SprintName}}
      </h2>
      <p class="mb-0">
        <i class="far fa-calendar-alt mr-2"></i> {{SprintStart*1000|date}} - {{SprintEnd*1000|date}}
      </p>
    </div>
    <div class="d-flex flex-row align-items-center" style="height: max-content;">

      <ng-template #editSprintPopup let-modal>
        <ngx-sprint-edit [Sprintdata]='SprintId' [projectid]='id' (editsprintEvent)="editSprintValue($event)">
        </ngx-sprint-edit>
      </ng-template>

      <ng-template #getbacklog let-modal>
        <ngx-get-backlog [Sprintid]='SprintId' [SprintDe]='SprintDId' (getdataEvent)="getPage()"></ngx-get-backlog>
      </ng-template>

      <p class="linked mr-2" (click)="openXl(getbacklog);">
        Get Backlog
      </p>
      <p class="linked" (click)="openVerticallyCentered(editSprintPopup);">
        Edit this sprint
      </p>
    </div>
  </div>

  <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
    <div class="taskboard-list bordered">
      <div class="taskboard-header text-uppercase">
        <div *ngIf="!board.listedit">
          <strong>{{board.ListName}}</strong>
        </div>
        <div *ngIf="board.listedit">
          <form [formGroup]="listEditForm">
            <input nbInput type="text" class="form-control mt-1 mb-1 full-width" id="list-name"
              formControlName="ListName1" placeholder="List name" (blur)="onEditList(board.ListId,i)"
              (keyup.enter)="onEditList(board.ListId,i)">
          </form>
        </div>
        <ng-template #menu>
          <ul class="option-menu">
            <li class="mb-2" (click)="editlistClick(board.ListName,i)">Edit</li>
            <li (click)="onDeleteList(board.ListId,i)">Delete</li>
          </ul>
        </ng-template>
        <div class="option-icon" *ngIf="board.ListName!='backlog' && board.ListName!='complete' && !board.listedit">
          <div [nbPopover]="menu" nbPopoverPlacement="top" [nbPopoverContext]="{popover: popover}">
            <i class="fas fa-ellipsis-v btn-card-option p-0"></i>
          </div>
        </div>
      </div>
      <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group-sprint"'>

        <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
          [ngClass]="task.class">
          <div *ngIf="!task.edit">
            <div class="row mx-0 justify-content-between align-items-center">
              <div (click)="openTask(taskInfoPopup,i,j);">
                <div class="taskboard-task-title m-0">{{task.TaskName}}</div>
                <small class="card-text text-muted">{{task.TaskDesc}}</small>
                <div *ngIf="task.DueDate !=0"><i class="far fa-clock"></i>
                  {{ task.DueDate *1000 | date : ' MMM, dd' }}
                </div>
              </div>

              <div (click)="editTaskNameClick(i,j,task.TaskName)">
                <a class="btn-edit">
                  <i class="fas fa-edit"></i>
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="task.edit">
            <form [formGroup]="taskEditForm">
              <input nbInput type="text" class="form-control mb-0" id="task-name" formControlName="TaskName"
                placeholder="Task name" (blur)="onEditTaskName(task.TaskId,i,j)"
                (keyup.enter)="onEditTaskName(task.TaskId,i,j)">
            </form>
          </div>

          <ng-template #taskInfoPopup let-modal>
            <ngx-task-edit [Taskdata]='task' [Listdata]='board' [Sprintdata]='SprintName'
              (edittaskEvent)="editTaskValue($event)" (deletetaskEvent)="spliceTask($event)">
            </ngx-task-edit>
          </ng-template>

        </div>
      </div>
      <div class="taskboard-footer" *ngIf="!board.add" (click)="addTaskClick(i)">
        <a class="btn-add">
          <i class="fas fa-plus mr-2"></i> Add a task
        </a>
      </div>
      <div *ngIf="board.add">
        <form [formGroup]="taskAddForm">
          <input nbInput type="text" class="form-control mb-2 full-width" id="task-name" formControlName="TaskName1"
            placeholder="Task name" (blur)="onAddTask(board.ListId,board.ListName)"
            (keyup.enter)="onAddTask(board.ListId,board.ListName)">
        </form>
      </div>
    </div>
  </div>

  <div class="taskboard-wrapper">
    <div class="taskboard-list bordered">
      <div class="taskboard-footer mt-3" *ngIf="!listadd" (click)="addlistClick()">
        <a class="btn-add">
          <i class="fas fa-plus mr-2"></i> Add a List
        </a>
      </div>
      <div *ngIf="listadd">
        <form [formGroup]="listForm">
          <input nbInput type="text" class="form-control mt-1 mb-1 full-width" id="list-name" formControlName="ListName"
            placeholder="List name" (blur)="onAddList()" (keyup.enter)="onAddList()">
        </form>
      </div>
    </div>
  </div>

</div>