<ng-template #chooseSprint let-modal>
  <div class="modal-body p-5">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3>Choose sprint</h3>
    <div *ngFor="let s of getsprint | slice:1 let i = index;">
      <nb-card class="my-3 bordered" (click)="updateMainSprint(s.SprintId)" style="cursor: pointer;">
        <nb-card-body>
          <h5>{{s.SprintName}}</h5>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</ng-template>

<div class="container">
  <div class="row mx-0 mb-4 d-flex justify-content-between">
    <div class="d-flex flex-column">
      <h2>
        {{SprintName}}
      </h2>
      <p class="mb-0">
        <i class="far fa-calendar-alt mr-2"></i> {{SprintStart*1000|date}} - {{SprintEnd*1000|date}}
      </p>
    </div>

    <div class="d-flex flex-row align-items-center" style="height: max-content;">
      <p class="linked" (click)="openVerticallyCentered(chooseSprint);">
        Change sprint
      </p>
      <p class="linked ml-3" (click)="openVerticallyCentered(editSprintPopup);">
        Edit this sprint
      </p>
      <p class="linked ml-3" (click)="deleteSprint(SprintId,chooseSprint)">
        Delete this sprint
      </p>
    </div>
  </div>


  <ng-template #editSprintPopup let-modal>
    <div class="modal-body p-5">
      <form [formGroup]="sprintForm">

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3>Edit sprint info</h3>

        <label for="sprint-name">Sprint name</label>
        <input nbInput type="text" class="form-control" id="sprint-name" formControlName="SprintName"
          placeholder="Sprint name"
          [status]="sprintForm.get('SprintName').touched ? (sprintForm.get('SprintName').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger" *ngIf="!sprintForm.get('SprintName').valid && sprintForm.get('SprintName').touched">
          Please enter sprint name.
        </div>

        <label for="sprint-start-date">Start Date</label>
        <input nbInput class="form-control" id="sprint-start-date" formControlName="SprintStart"
          placeholder="Enter start date" [nbDatepicker]="startDate"
          [status]="sprintForm.get('SprintStart').touched ? (sprintForm.get('SprintStart').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #startDate></nb-datepicker>
        <div class="text-danger" *ngIf="!sprintForm.get('SprintStart').valid && sprintForm.get('SprintStart').touched">
          Please enter start date.
        </div>

        <label for="sprint-end-date">End Date</label>
        <input nbInput class="form-control" id="sprint-end-date" formControlName="SprintEnd"
          placeholder="Enter end date" [nbDatepicker]="endDate"
          [status]="sprintForm.get('SprintEnd').touched ? (sprintForm.get('SprintEnd').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #endDate></nb-datepicker>
        <div class="text-danger" *ngIf="!sprintForm.get('SprintEnd').valid && sprintForm.get('SprintEnd').touched">
          Please enter end date.
        </div>

        <div class="row mt-5 mx-0 d-flex justify-content-end">
          <button class="btn btn-secondary btn-round mr-3" (click)="modal.close('Cross click')">Cancel</button>
          <button class="btn btn-info btn-round" [disabled]="sprintForm.invalid" (click)="editSprint(SprintId)">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <div class="row mt-sm-5 mt-3 mb-3">
    <div class="col-lg-9 col-12 p-0">
      <ngx-chart-dash></ngx-chart-dash>
    </div>
    <div class="col-lg-3 col-12 p-0">
      <div class="row text-center align-items-center">
        <div class="col-lg-12 col-4 p-0">
          <nb-card>
            <nb-card-body class="p-1">
              <h1 class="mb-1">{{ taskperdate }}</h1>
              <h4 class="d-none d-sm-block">tasks/day</h4>
              <p class="d-block d-sm-none">tasks/day</p>
            </nb-card-body>
          </nb-card>
        </div>
        <!-- <div class="col-lg-12 col-4 p-0">
          <nb-card>
            <nb-card-body class="p-1">
              <h1 class="mb-1">900</h1>
              <h4 class="d-none d-sm-block">THB profitable</h4>
              <p class="d-block d-sm-none">THB profitable</p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-lg-12 col-4 p-0">
          <nb-card>
            <nb-card-body class="p-1">
              <h1 class="mb-1">900</h1>
              <h4 class="d-none d-sm-block">THB profitable</h4>
              <p class="d-block d-sm-none">THB profitable</p>
            </nb-card-body>
          </nb-card>
        </div> -->
      </div>
    </div>
  </div>

  <!-- <div class="board" cdkDropList [cdkDropListData]="lists" (cdkDropListDropped)="onListDrop($event)"
    cdkDropListOrientation="horizontal">

    <div class="listed mat-elevation-z1" *ngFor="let list of lists; let in = index;" cdkDrag>

      <div class="custom-list-placeholder" *cdkDragPlaceholder></div>

      <ngx-editable class="mat-h3" (update)="updateField(in, 'ListName')">
        <ng-template ngxViewMode>{{list.ListName}}
          <button *ngIf="list.ListName != 'done'" type="button" class="close" aria-label="Close"
            (click)="onDeleteList(list.ListId,in)">
            <span aria-hidden="true">&times;</span>
          </button>
        </ng-template>
        <ng-template ngxEditMode>
          <input [formControl]="getControl(in, 'ListName')" ngxFocusable ngxEditableOnEnter>
        </ng-template>
      </ngx-editable>

      <div class="list-content">
        <div class="py-1" cdkDropList [id]="list.ListId" [cdkDropListData]="list.ListTask"
          [cdkDropListConnectedTo]="listIds" (cdkDropListDropped)="onTaskDrop($event)">

          
          <nb-card class="mb-2 bordered" style="overflow: auto;" *ngFor="let task of list.ListTask; let i = index;"
            cdkDrag (click)="openVerticallyCentered(taskInfoPopup);">
            <ng-template #taskInfoPopup let-modal>
              <div class="modal-body p-5">
                <button type="button" class="edit" (click)="editTaskClick(task.TaskPoint,task.TaskName,task.TaskDesc)"
                  *ngIf="!editTask">
                  Edit
                </button>
                <div class="container" *ngIf="!editTask">
                  <div class="row mx-0 mb-3">
                    <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4 minor">
                      <h5 class="m-0">{{ task.TaskPoint }}pt</h5>
                    </div>
                    <div class="d-flex flex-column">
                      <h3>{{task.TaskName}}</h3>
                    </div>
                  </div>
                  <p>{{ task.TaskDesc }}</p>
                </div>
                <div class="container" *ngIf="editTask">
                  <form [formGroup]="taskEditForm">
                    <div class="form-group">
                      <h3>Edit task</h3>
                      <button type="button" class="close" aria-label="Close" (click)="cancelTaskEdit()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <label for="task-name">Task name</label>
                      <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName"
                        placeholder="Task name"
                        [status]="taskEditForm.get('TaskName').touched ? (taskEditForm.get('TaskName').valid  ? 'success' : 'danger') : ''">
                      <div class="text-danger"
                        *ngIf="!taskEditForm.get('TaskName').valid && taskEditForm.get('TaskName').touched">
                        Please enter Task name.
                      </div>

                      <label for="task-point">Task point</label>
                      <input nbInput type="number" class="form-control" id="task-point" formControlName="TaskPoint"
                        placeholder="Task point">

                      <label for="task-desc">Task description</label>
                      <input nbInput type="text" class="form-control" id="task-desc" formControlName="TaskDesc"
                        placeholder="Task description">

                      <div class="row mt-5 mx-0 d-flex justify-content-end">
                        <button class="btn btn-secondary btn-round mr-3" (click)="cancelTaskEdit()">Cancel</button>
                        <button class="btn btn-info btn-round" [disabled]="!taskEditForm.valid"
                          (click)="onEditTask(list.ListId,task.TaskId,in,i)">
                          Save changes
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </ng-template>
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            <nb-card-body class="p-2 m-0">
              <div class="row m-0 d-flex justify-content-between">
                <div class="row m-0 align-items-center">
                  <div class="rounded-circle d-flex point justify-content-center align-items-center mr-4"
                    [ngClass]="{'critical': (task.TaskPoint>10), 'major': (task.TaskPoint<=10&&task.TaskPoint>5), 'minor': (task.TaskPoint<=5) }">
                    <h5 class="m-0">{{ task.TaskPoint }}pt</h5>
                  </div>
                  <div class="flex-column">
                    <h5>{{task.TaskName}}</h5>
                    <p class="mb-0">{{ task.TaskDesc }}</p>
                  </div>
                </div>
                <i class="fas fa-times" (click)="onDeleteTask(list.ListId,task.TaskId,in,i)"></i>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <a class="btn-add" (click)="openVerticallyCentered(addTaskPopup);">
          <i class="fas fa-plus mr-2"></i> Add a task
        </a>
      </div>
      <ng-template #addTaskPopup let-modal>
        <div class="modal-body p-5">
          <button type="button" class="close" aria-label="Close" (click)="cancelTaskAdd()">
            <span aria-hidden="true">&times;</span>
          </button>

          <form [formGroup]="taskAddForm">
            <div class="form-group">
              <h3>Add task</h3>

              <label for="task-name">Task name</label>
              <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName1"
                placeholder="Task name"
                [status]="taskAddForm.get('TaskName1').touched ? (taskAddForm.get('TaskName1').valid  ? 'success' : 'danger') : ''">
              <div class="text-danger"
                *ngIf="!taskAddForm.get('TaskName1').valid && taskAddForm.get('TaskName1').touched">
                Please enter Task name.
              </div>

              <label for="task-point">Task point</label>
              <input nbInput type="number" class="form-control" id="task-point" formControlName="TaskPoint1"
                placeholder="Task point">

              <label for="task-desc">Task description</label>
              <input nbInput type="text" class="form-control" id="task-desc" formControlName="TaskDesc1"
                placeholder="Task description">

              <div class="row mt-5 mx-0 d-flex justify-content-end">
                <button class="btn btn-secondary btn-round mr-3" (click)="cancelTaskAdd()">Cancel</button>
                <button class="btn btn-info btn-round" [disabled]="!taskAddForm.valid" (click)="onAddTask(list.ListId)">
                  Add task
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>

    <div class="list-add mat-elevation-z1">
      <a class="btn-add" (click)="openVerticallyCentered(addListPopup);">
        <i class="fas fa-plus mr-2"></i> Add another list
      </a>
    </div>

    <ng-template #addListPopup let-modal>
      <div class="modal-body p-5">
        <form [formGroup]="listForm">

          <button type="button" class="close" aria-label="Close" (click)="cancelList()">
            <span aria-hidden="true">&times;</span>
          </button>

          <h3>Add list</h3>

          <label for="list-name">List name</label>
          <input nbInput type="text" class="form-control" id="list-name" formControlName="ListName"
            placeholder="List name"
            [status]="listForm.get('ListName').touched ? (listForm.get('ListName').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger" *ngIf="!listForm.get('ListName').valid && listForm.get('ListName').touched">
            Please enter list name.
          </div>

          <div class="row mt-5 mx-0 d-flex justify-content-end">
            <button class="btn btn-secondary btn-round mr-3" (click)="cancelList()">Cancel</button>
            <button class="btn btn-info btn-round" [disabled]="listForm.invalid" (click)="onAddList()">
              Add list
            </button>
          </div>
        </form>
      </div>
    </ng-template>

  </div> -->
</div>