<div class="modal-body p-5">
  <form [formGroup]="sprintForm">

    <button type="button" class="close" aria-label="Close" (click)="canceleditsprint()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h3>Edit sprint info</h3>

    <label for="sprint-name">Sprint name</label>
    <input nbInput type="text" class="form-control" id="sprint-name" formControlName="SprintName"
      placeholder="Sprint name"
      [status]="sprintForm.get('SprintName').touched ? (sprintForm.get('SprintName').valid  ? 'success' : 'danger') : ''">
    <div class="text-danger" *ngIf="!sprintForm.get('SprintName').valid && sprintForm.get('SprintName').touched">
      Please enter sprint name.
    </div>

    <label for="sprint-start-date">Start Date</label>
    <input nbInput class="form-control" id="sprint-start-date" formControlName="SprintStart"
      placeholder="Enter start date" [nbDatepicker]="startDate"
      [status]="sprintForm.get('SprintStart').touched ? (sprintForm.get('SprintStart').valid  ? 'success' : 'danger') : ''">
    <nb-datepicker #startDate (dateChange)="startDatePick($event)"></nb-datepicker>
    <div class="text-danger" *ngIf="!sprintForm.get('SprintStart').valid && sprintForm.get('SprintStart').touched">
      Please enter start date.
    </div>

    <label for="sprint-end-date">End Date</label>
    <input nbInput class="form-control" id="sprint-end-date" formControlName="SprintEnd" placeholder="Enter end date"
      [nbDatepicker]="endDate"
      [status]="sprintForm.get('SprintEnd').touched ? (sprintForm.get('SprintEnd').valid  ? 'success' : 'danger') : ''">
    <nb-datepicker #endDate [min]="min"></nb-datepicker>
    <div class="text-danger" *ngIf="!sprintForm.get('SprintEnd').valid && sprintForm.get('SprintEnd').touched">
      Please enter end date.
    </div>

    <div class="row mt-5 mx-0 d-flex justify-content-end">
      <button class="btn btn-secondary btn-round mr-3" (click)="canceleditsprint()">Cancel</button>
      <button class="btn btn-info btn-round" [disabled]="sprintForm.invalid" (click)="editSprint()">
        Save changes
      </button>
    </div>
  </form>
</div>