<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/page/account/profile">User Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>

<div class="row m-0 d-flex justify-content-center">
  <div class="col-md-8 col-xs-12 mt-5">
    <form [formGroup]="changeForm">
      <div class="form-group mb-3">
        <label class="label" for="current-pwd">Current password</label>
        <input nbInput class="form-control" type="password" id="input-password" formControlName="password"
          placeholder="Enter your password"
          [status]="changeForm.get('password').touched ? (changeForm.get('password').valid  ? 'success' : 'danger') : ''">

        <label class="label" for="new-pwd">New password</label>
        <input nbInput class="form-control" type="password" id="input-password" formControlName="newpassword"
          placeholder="Enter your password"
          [status]="changeForm.get('newpassword').touched ? (changeForm.get('newpassword').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger" *ngIf="!changeForm.get('newpassword').valid && changeForm.get('newpassword').touched">
          Please enter password with at least 6 characters.
        </div>

        <label class="label" for="new-pwd-again">Confirm new password</label>
        <input nbInput class="form-control" type="password" id="input-password" formControlName="confirmPassword"
          placeholder="Enter your password again"
          [status]="changeForm.get('confirmPassword').touched ? (changeForm.valid ? 'success' : 'danger') : ''">
        <div class="text-danger" *ngIf="changeForm.get('confirmPassword').touched && !changeForm.valid">
          Password doesn't match
        </div>
      </div>

      <button nbButton fullWidth status="success" class="mt-3" [disabled]="!changeForm.valid" (click)="changepass()">
        Save new password
      </button>
    </form>
  </div>
</div>