<div class="conainer-fluid" style="margin-left: 2.5%; margin-right: 2.5%;">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3>Upload file</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="padding-bottom: 0.75rem;">
      <div class="row" style="margin-bottom: 2rem;">
        <div class="col-12">
          <div class="form-group">
            <form #form>
              <label for="file"></label>
              <input type="file" id="file" (change)="handleFileInput($event.target.files)">
              <button (click)="UploadFile()" [disabled]="checkfile">Upload</button>
            </form>
          </div>
        </div>
        <div class="col-12">
          <div class="d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
              <label class="m-0" style="width: 150px;">Select Catagory</label>
              <nb-select class="mr-2 sort-button" style="width: 150px;" selected="{{SelectedCat}}" outline
                status="primary" size="small" (selectedChange)="selectedCat($event)">
                <nb-option *ngFor="let menu of selected" value="{{menu.value}}">{{menu.Show}}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>

      <ng2-smart-table [settings]="setting" [source]="source" (delete)="DeleteFile($event)" (edit)="download($event)">
      </ng2-smart-table>
    </div>
  </div>
</div>