<ng-template #addPositionPopup let-modal>
  <form [formGroup]="positionFormAdd">
    <div class="form-group">
      <div class="modal-body p-4">

        <button type="button" class="close" aria-label="Close" (click)="cancelPosition()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3>Add position history</h3>

        <label for="position">Position</label>
        <input nbInput type="text" class="form-control" id="position" formControlName="PositionName"
          placeholder="Positon name"
          [status]="positionFormAdd.get('PositionName').touched ? (positionFormAdd.get('PositionName').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger"
          *ngIf="!positionFormAdd.get('PositionName').valid && positionFormAdd.get('PositionName').touched">
          Please enter position.
        </div>

        <label for="salary">Salary</label>
        <input nbInput type="number" class="form-control" id="salary" formControlName="PositionSalary"
          placeholder="Positon name"
          [status]="positionFormAdd.get('PositionSalary').touched ? (positionFormAdd.get('PositionSalary').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger"
          *ngIf="!positionFormAdd.get('PositionSalary').valid && positionFormAdd.get('PositionSalary').touched">
          Please enter salary.
        </div>

        <label for="position-start">Start Date</label>
        <input nbInput class="form-control" id="position-start" formControlName="PositionStart"
          placeholder="Starting Date" [nbDatepicker]="startingHistory"
          [status]="positionFormAdd.get('PositionStart').touched ? (positionFormAdd.get('PositionStart').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #startingHistory (dateChange)="startDatePick($event)"></nb-datepicker>
        <div class="text-danger"
          *ngIf="!positionFormAdd.get('PositionStart').valid && positionFormAdd.get('PositionStart').touched">
          Please enter start date.
        </div>

        <label for="position-end">End Date</label>
        <nb-checkbox [value]="enddatecheck" (change)="toggleenddate()"></nb-checkbox>
        <div *ngIf="!enddatecheck">
          <input nbInput class="form-control" id="position-end" formControlName="PositionEnd" placeholder="Ending Date"
            [nbDatepicker]="endingHistory" disabled>
          <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
        </div>
        <div *ngIf="enddatecheck">
          <input nbInput class="form-control" id="position-end" formControlName="PositionEnd" placeholder="Ending Date"
            [nbDatepicker]="endingHistory">
          <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
        </div>
        <div class="row mt-5 mx-0 d-flex justify-content-between">
          <button class="btn btn-secondary btn-round mr-3" (click)="cancelPosition()">Cancel</button>
          <button class="btn btn-info btn-round" (click)="addPosition()"
            [disabled]="!positionFormAdd.get('PositionName').valid || !positionFormAdd.get('PositionSalary').valid || !positionFormAdd.get('PositionStart').valid">
            Add Position
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #editPositionPopup let-modal>
  <form [formGroup]="positionFormEdit">
    <div class="form-group">
      <div class="modal-body p-4">

        <button type="button" class="close" aria-label="Close" (click)="cancelPosition()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3>Edit position history</h3>

        <label for="position">Position</label>
        <input nbInput type="text" class="form-control" id="position" formControlName="PositionName"
          placeholder="Positon name"
          [status]="positionFormEdit.get('PositionName').touched ? (positionFormEdit.get('PositionName').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger"
          *ngIf="!positionFormEdit.get('PositionName').valid && positionFormEdit.get('PositionName').touched">
          Please enter position.
        </div>

        <label for="salary">Salary</label>
        <input nbInput type="number" class="form-control" id="salary" formControlName="PositionSalary"
          placeholder="Positon name"
          [status]="positionFormEdit.get('PositionSalary').touched ? (positionFormEdit.get('PositionSalary').valid  ? 'success' : 'danger') : ''">
        <div class="text-danger"
          *ngIf="!positionFormEdit.get('PositionSalary').valid && positionFormEdit.get('PositionSalary').touched">
          Please enter salary.
        </div>

        <label for="position-start">Start Date</label>
        <input nbInput class="form-control" id="position-start" formControlName="PositionStart"
          placeholder="Starting Date" [nbDatepicker]="startingHistory"
          [status]="positionFormEdit.get('PositionStart').touched ? (positionFormEdit.get('PositionStart').valid  ? 'success' : 'danger') : ''">
        <nb-datepicker #startingHistory (dateChange)="startDatePick($event)"></nb-datepicker>
        <div class="text-danger"
          *ngIf="!positionFormEdit.get('PositionStart').valid && positionFormEdit.get('PositionStart').touched">
          Please enter start date.
        </div>

        <label for="position-end">End Date</label>
        <nb-checkbox [value]="enddatecheck" (change)="toggleenddate()"></nb-checkbox>
        <div *ngIf="!enddatecheck">
          <input nbInput class="form-control" id="position-end" formControlName="PositionEnd" placeholder="Ending Date"
            [nbDatepicker]="endingHistory" disabled>
          <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
        </div>
        <div *ngIf="enddatecheck">
          <input nbInput class="form-control" id="position-end" formControlName="PositionEnd" placeholder="Ending Date"
            [nbDatepicker]="endingHistory">
          <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
        </div>

        <div class="row mt-5 mx-0 d-flex justify-content-between">
          <button class="btn btn-secondary btn-round mr-3" (click)="cancelPosition()">Cancel</button>
          <button class="btn btn-info btn-round" (click)="editPosition()"
            [disabled]="!positionFormEdit.get('PositionName').valid || !positionFormEdit.get('PositionSalary').valid || !positionFormEdit.get('PositionStart').valid">
            Save Position
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng2-smart-table [settings]="setting" [source]="source" (delete)="onDeleteConfirm($event)"
  (create)="openVerticallyCentered(addPositionPopup)" (edit)="onEditConfirm($event,editPositionPopup)">
</ng2-smart-table>