<div class="row">
  <div class="col-lg-5 col-md-12 mx-auto px-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/page/account/profile">User Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-5 col-md-12 mt-5">
    <form [formGroup]="profileForm">
      <div class="mb-4 d-flex flex-column justify-content-center">
        <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
          <img src="{{ UserPicturePath }}" class="image-fill">
        </div>
        <input class="text-center" type="file" (change)="onFileSelected($event)">
      </div>
      <label class="label" for="username">Username</label>
      <input nbInput class="form-control" formControlName="ProfileName" type="text" id="username"
        placeholder="Enter your name"
        [status]="profileForm.get('ProfileName').touched ? (profileForm.get('ProfileName').valid  ? 'success' : 'danger') : ''">
      <div class="text-danger" *ngIf="!profileForm.get('ProfileName').valid && profileForm.get('ProfileName').touched">
        Please enter name.
      </div>
      <div class="mt-5 mx-0 d-flex justify-content-between">
        <div class="container-btn mr-4">
          <button nbButton class="btn btn-outline-secondary btn-block"
            routerLink="/page/account/profile">Cancel</button>
        </div>
        <div class="container-btn">
          <button nbButton class="btn-block" status="success" [disabled]="!profileForm.valid" (click)="onSaveProfile()">
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row d-flex justify-content-center mt-4">
  <div class="col-12 text-center">
    <button class="btn btn-link btn-sm text-danger" (click)="deleteAccount($event)">Delete my account</button>
  </div>
</div>