<div class="container-fluid px-0">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row">
    <div class="col-12">
      <h1 class="d-block d-md-none text-center">Company Information</h1>
    </div>
  </div>

  <div class="row align-items-start justify-content-between position-relative mt-md-0 mt-4 mx-0">
    <button class="mb-auto btn btn-info d-inline-flex position-absolute" (click)="onEdit()"
      style="right: 0; z-index: 10;">
      <i class="fas fa-pen"></i>
      <div class="small ml-2 d-none d-lg-block">
        Edit
      </div>
    </button>

    <div class="col-md-3 col-sm-12">
      <!-- <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4"> -->
      <img src="{{ CompanyPicturePath }}" class="image-fluid">
      <!-- </div> -->
    </div>

    <div class="col-md-9 col-sm-12 text-center text-md-left">
      <h1 class="mt-0">{{ CompanyNameEn }}</h1>
      <h5 class="mt-0">{{ CompanyName }}</h5>
      <h6>
        <a href="mailto:{{ CompanyEmail }}">
          <i class="fas fa-envelope mr-2"></i>
          {{ CompanyEmail }}
        </a>
      </h6>
      <h6>
        <a href="tel:{{ CompanyTel }}">
          <i class="fas fa-phone mr-2"></i>
          {{ CompanyTel }}
        </a>
      </h6>
      <h6><i class="fas fa-map-marker-alt mr-2"></i>
        {{ CompanyAddress }}
      </h6>
      <h6>Tax ID: {{ CompanyTaxId }}</h6>
    </div>

  </div>
</div>