<div class="container-fluid">

  <div class="row p-3 bg-gray">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h1 class="my-0">
        Cost
      </h1>
      <button class="btn btn-info d-inline-flex" (click)="onEdit()">
        <i class="fas fa-pen"></i>
        <div class="small ml-2 d-none d-lg-block">
          Edit
        </div>
      </button>
    </div>
  </div>

  <div class="row mt-4">

    <div class="col-12 p-0">
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Description</small>
          <ng2-smart-table [settings]="setting" [source]="source">
          </ng2-smart-table>
        </div>
      </div>
      <!-- <label for="project-price">Price</label>
        <input nbInput ngModel type="number" class="form-control" id="project-price" name="projectPrice"
          placeholder="Enter price" #projectPrice="ngModel" required [(ngModel)]="ProjectPrice">
        <div class="text-danger" *ngIf="projectPrice.invalid && (projectPrice.dirty || projectPrice.touched)">
          Please enter price.
        </div>

        <label for="project-payment">Payment Terms</label>
        <textarea nbInput ngModel rows="3" placeholder="Enter payment terms" class="form-control mb-5"
          id="project-payment" name="projectPayment" #projectPayment="ngModel" required
          [(ngModel)]="ProjectPayment"></textarea>
        <div class="text-danger" *ngIf="projectPayment.invalid && (projectPayment.dirty || projectPayment.touched)">
          Please enter payment terms.
        </div> -->
      <div class="row">
        <div class="col-6">
          <small class="text-muted">Project price:</small>
          <p>{{ Total }} THB</p>
        </div>
        <div class="col-6">
          <small class="text-muted">Project payment:</small>
          <p>{{ ProjectPayment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>