<div class="container-fluid px-0">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <div class="row">
    <div class="col-12">
      <h1 class="d-block d-md-none text-center">Bank Accounts</h1>
    </div>
  </div>

  <form #bankForm="ngForm">
    <ng-template #addBankPopup let-modal>
      <div class="modal-body p-4">

        <ng-template #rt let-r="result" let-t="term">
          <img [src]="'../../../../assets/images/banks/' + r['logo']" class="mr-2" style="width: 16px">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>

        <button type="button" class="close" aria-label="Close" (click)="cancelBank()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3>Add bank account</h3>

        <label class="mt-3" for="typeahead-focus">Bank name</label>
        <nb-select class="sort-button" outline status="primary" placeholder="Bank Select"
          (selectedChange)="selectdata($event)">
          <nb-option *ngFor="let data of banks" value="{{data.name}}">
            <div class="row">
              <div class="col-2"><img src="../../../../assets/images/banks/{{data.logo}}" class="mr-2 box-16">
              </div>
              <div class="col-8">
                {{data.name}}
              </div>
            </div>
          </nb-option>
        </nb-select>
        <!-- <input id="typeahead-template" type="text" class="form-control" required name="bankName" [(ngModel)]="model"
          [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Bank name"
          #bankName="ngModel" />
        <div class="text-danger" *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">
          Please enter bank name.
        </div> -->

        <label for="branch-name">Branch name</label>
        <input nbInput ngModel type="text" class="form-control" id="branch-name" name="branchName"
          placeholder="Branch name" #branchName="ngModel" required>
        <div class="text-danger" *ngIf="branchName.invalid && (branchName.dirty || branchName.touched)">
          Please enter branch name.
        </div>

        <label for="ac-name">Account name</label>
        <input nbInput ngModel type="text" class="form-control" id="ac-name" name="accName" placeholder="Account name"
          #accName="ngModel" required>
        <div class="text-danger" *ngIf="accName.invalid && (accName.dirty || accName.touched)">
          Please enter account name.
        </div>

        <label for="ac-num">Account number</label>
        <input nbInput ngModel type="text" class="form-control" id="ac-num" name="accNum" placeholder="Account number"
          #accNum="ngModel" required>
        <div class="text-danger" *ngIf="accNum.invalid && (accNum.dirty || accNum.touched)">
          Please enter account number.
        </div>

        <div class="mt-5 mx-0 d-flex justify-content-between">
          <button class="btn btn-secondary btn-round mr-3" (click)="cancelBank()">Cancel</button>
          <button class="btn btn-info btn-round" [disabled]="bankForm.invalid" (click)="addBank()">Add
            Bank Account
          </button>
        </div>
      </div>
      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div> -->
    </ng-template>
  </form>

  <form #bankFormEdit="ngForm">
    <ng-template #editBankPopup let-modal>
      <div class="modal-body p-4">

        <ng-template #rt let-r="result" let-t="term">
          <img [src]="'../../../../assets/images/banks/' + r['logo']" class="mr-2" style="width: 16px">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>

        <button type="button" class="close" aria-label="Close" (click)="cancelBank()">
          <span aria-hidden="true">&times;</span>
        </button>

        <h3>Edit bank account</h3>

        <label class="mt-3" for="typeahead-focus">Bank name</label>
        <nb-select class="sort-button" outline status="primary" [(selected)]="selectedItem">
          <!-- (selectedChange)="selectSort($event)" -->
          <nb-option *ngFor="let data of banks" value="{{data.name}}">
            <div class="row">
              <div class="col-2"><img src="../../../../assets/images/banks/{{data.logo}}" class="mr-2 box-16">
              </div>
              <div class="col-8">
                {{data.name}}
              </div>
            </div>
          </nb-option>
        </nb-select>
        <!-- <input id="typeahead-template" type="text" class="form-control" required name="bankName" [(ngModel)]="model"
          [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Bank name"
          #bankName="ngModel" />
        <div class="text-danger" *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">
          Please enter bank name.
        </div> -->

        <label for="Ebranch-name">Branch name</label>
        <input nbInput type="text" class="form-control" id="Ebranch-name" name="ebranchName" [(ngModel)]="EbranchName"
          placeholder="Branch name" #ebranchName="ngModel" required>
        <div class="text-danger" *ngIf="ebranchName.invalid && (ebranchName.dirty || ebranchName.touched)">
          Please enter branch name.
        </div>

        <label for="Eacc-name">Account name</label>
        <input nbInput type="text" class="form-control" id="Eacc-name" name="eaccName" [(ngModel)]="EaccName"
          placeholder="Account name" #eaccName="ngModel" required>
        <div class="text-danger" *ngIf="eaccName.invalid && (eaccName.dirty || eaccName.touched)">
          Please enter account name.
        </div>

        <label for="Eacc-num">Account number</label>
        <input nbInput type="text" class="form-control" id="Eacc-num" name="eaccNum" [(ngModel)]="EaccNum"
          placeholder="Account number" #eaccNum="ngModel" required>
        <div class="text-danger" *ngIf="eaccNum.invalid && (eaccNum.dirty || eaccNum.touched)">
          Please enter account number.
        </div>

        <div class="mt-5 mx-0 d-flex justify-content-between">
          <button class="btn btn-secondary btn-round mr-3" (click)="cancelBank()">Cancel</button>
          <button class="btn btn-info btn-round" [disabled]="bankFormEdit.invalid" (click)="editBank()">Save
            Bank Account
          </button>
        </div>
      </div>
      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
    </div> -->
    </ng-template>
  </form>
  <!-- 
  <div class="row mx-0 mb-3 pb-3 pt-4">
    <h3>Bank Account</h3>
  </div> -->
  <ng2-smart-table [settings]="setting" [source]="source" (delete)="onDeleteConfirm($event)"
    (create)="openVerticallyCentered(addBankPopup)" (edit)="onEditConfirm($event,editBankPopup)">
  </ng2-smart-table>
</div>