<div class="container">
  <form [formGroup]="taskAddForm">
    <div class="form-group">
      <h3>Add task</h3>

      <label for="task-name">Task name</label>
      <input nbInput type="text" class="form-control" id="task-name" formControlName="TaskName" placeholder="Task name"
        [status]="taskAddForm.get('TaskName').touched ? (taskAddForm.get('TaskName').valid  ? 'success' : 'danger') : ''">
      <div class="text-danger" *ngIf="!taskAddForm.get('TaskName').valid && taskAddForm.get('TaskName').touched">
        Please enter Task name.
      </div>

      <label for="task-point">Task point</label>
      <input nbInput type="number" class="form-control" id="task-point" formControlName="TaskPoint"
        placeholder="Task point">

      <label for="task-desc">Task description</label>
      <input nbInput type="text" class="form-control" id="task-desc" formControlName="TaskDesc"
        placeholder="Task description">

      <div class="row mt-5 mx-0 d-flex justify-content-end">
        <button class="btn btn-secondary btn-round mr-3" (click)="cancel()">Cancel</button>
        <button class="btn btn-info btn-round" [disabled]="!taskAddForm.valid" (click)="save()">
          Add task
        </button>
      </div>
    </div>
  </form>

</div>