@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .created-by {
    a {
      color: #f4fdff;

      &:hover {
        color: #02193d;
      }
    }
  }

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: #f4fdff;
      transition: color ease-out 0.1s;

      &:hover {
        color: #02193d;
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }
}
