<div class="container-fluid px-0">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/page/company/staff-list/A-Z">Staff List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
  </nav>

  <nb-stepper orientation="horizontal">
    <nb-step label="Add Staff Info" [stepControl]="staffForm">
      <form [formGroup]="staffForm">
        <div class="row d-flex justify-content-between mx-0 mt-5 mb-4">
          <div class="col-lg-4 col-md-12 mx-auto">
            <div class="mb-2 d-flex flex-column justify-content-center">
              <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
                <img src="{{ StaffPicturePath }}" class="image-fill">
              </div>
              <input class="text-center" type="file" (change)="onFileSelectedPic($event)">
              <label class="col-12 mt-5 text-center" for="staff-esign">E-signature</label>
              <div class="d-flex justify-content-center overflow-hidden mx-auto mb-4">
                <img src="{{ StaffSignature }}" class="image-fluid e-sign-image">
              </div>
              <input class="text-center" type="file" (change)="onFileSelectedSig($event)">
            </div>
          </div>

          <div class="col-lg-7 col-md-12">
            <label for="staff-name-en">Name (EN)</label>
            <input nbInput type="text" class="form-control" id="staff-name-en" formControlName="StaffNameEn"
              placeholder="Enter staff name"
              [status]="staffForm.get('StaffNameEn').touched ? (staffForm.get('StaffNameEn').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffNameEn').valid && staffForm.get('StaffNameEn').touched">
              Please enter name.
            </div>

            <label for="staff-name">Name (TH)</label>
            <input nbInput type="text" class="form-control" id="staff-name" formControlName="StaffName"
              placeholder="Enter staff name"
              [status]="staffForm.get('StaffName').touched ? (staffForm.get('StaffName').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffName').valid && staffForm.get('StaffName').touched">
              Please enter name.
            </div>

            <label for="staff-email">Email</label>
            <input nbInput type="email" class="form-control" id="staff-email" formControlName="StaffEmail"
              placeholder="Enter staff email address"
              [status]="staffForm.get('StaffEmail').touched ? (staffForm.get('StaffEmail').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffEmail').valid && staffForm.get('StaffEmail').touched">
              Please enter valid email address.
            </div>

            <label for="staff-tel">Telephone</label>
            <input nbInput type="text" class="form-control" id="staff-tel" formControlName="StaffTel"
              placeholder="Enter staff telephone Number"
              [status]="staffForm.get('StaffTel').touched ? (staffForm.get('StaffTel').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffTel').valid && staffForm.get('StaffTel').touched">
              Please enter telephone Number.
            </div>

            <label for="staff-address">Address</label>
            <textarea nbInput type="text" rows="3" class="form-control" id="staff-address"
              formControlName="StaffAddress" placeholder="Enter staff address"
              [status]="staffForm.get('StaffAddress').touched ? (staffForm.get('StaffAddress').valid  ? 'success' : 'danger') : ''">
              </textarea>
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffAddress').valid && staffForm.get('StaffAddress').touched">
              Please enter address.
            </div>

            <label for="staffposition">Position</label>
            <input nbInput type="text" class="form-control" id="staffposition" formControlName="StaffPositionName"
              placeholder="Positon name"
              [status]="staffForm.get('StaffPositionName').touched ? (staffForm.get('StaffPositionName').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffPositionName').valid && staffForm.get('StaffPositionName').touched">
              Please enter position.
            </div>

            <label for="staffsalary">Salary</label>
            <input nbInput type="number" class="form-control" id="staffsalary" formControlName="StaffPositionSalary"
              placeholder="Salary"
              [status]="staffForm.get('StaffPositionSalary').touched ? (staffForm.get('StaffPositionSalary').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffPositionSalary').valid && staffForm.get('StaffPositionSalary').touched">
              Please enter salary.
            </div>

            <div class="row mb-2 mx-0 d-flex justify-content-between">
              <div class="col-md-5 col-12 px-0">
                <label for="staff-start-date">Starting Date</label>
                <input nbInput class="form-control" id="staff-start-date" formControlName="StaffStart"
                  placeholder="Starting Date" [nbDatepicker]="startingDate"
                  [status]="staffForm.get('StaffStart').touched ? (staffForm.get('StaffStart').valid  ? 'success' : 'danger') : ''">
                <nb-datepicker #startingDate (dateChange)="startDatePick($event)" [max]="max"></nb-datepicker>
                <div class="text-danger col-5 p-0"
                  *ngIf="!staffForm.get('StaffStart').valid && staffForm.get('StaffStart').touched">
                  Please enter start date.
                </div>
              </div>
              <div class="col-md-1 mx-auto d-none d-md-block">
                <p class="mt-5 mb-0 text-center" style="font-size: 30px;">-</p>
              </div>
              <div class="col-md-5 col-12 px-0">
                <label for="staff-resign-date">Resignation Date</label>
                <input nbInput class="form-control" id="staff-resign-date" formControlName="StaffResignation"
                  placeholder="Resignation Date" [nbDatepicker]="resignDate"
                  [status]="staffForm.get('StaffResignation').touched ? (staffForm.get('StaffResignation').valid  ? 'success' : 'danger') : ''">
                <nb-datepicker #resignDate [min]="min"></nb-datepicker>
                <div class="text-danger col-5 p-0 mr-0 ml-auto"
                  *ngIf="!staffForm.get('StaffResignation').valid && staffForm.get('StaffResignation').touched && resigned">
                  Please enter end date.
                </div>
              </div>
            </div>
            <nb-checkbox [value]="resigned" (change)="toggleResign()">Already quit?</nb-checkbox>

          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12 mx-0 d-flex justify-content-between">
          <div class="container-btn mr-4">
            <button nbButton class="m-0 btn btn-secondary btn-block"
              routerLink="/page/company/staff-list/A-Z">Cancel</button>
          </div>
          <div class="container-btn">
            <button nbButton nbStepperNext class="m-0 btn-block" [disabled]="!staffForm.valid">
              Next
            </button>
          </div>
        </div>
      </div>
    </nb-step>

    <nb-step label="Add Position History">
      <div class="row mx-0 mt-5 mb-4">
        <div class="col-12">
          <ngx-position (change)="getpositiondata($event)"></ngx-position>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-0 d-flex justify-content-between">
          <div class="container-btn mr-4">
            <button nbButton nbStepperPrevious class="m-0 btn btn-secondary btn-block">Previous</button>
          </div>
          <div class="container-btn">
            <button nbButton class="btn-block" type="submit" status="success" (click)="onAddStaff()">
              Add Staff
            </button>
          </div>
        </div>
      </div>
    </nb-step>
  </nb-stepper>


</div>