<div class="container">
  <!-- <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading> -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        Please fill the information below.
      </h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="row p-3 bg-gray">
        <h2>User Information</h2>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class=" col-lg-4 col-md-6 col-12 mx-auto">
      <div class="d-flex flex-column justify-content-center">
        <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
          <img src="{{ UserPicturePath }}" class="image-fill">
        </div>
        <input class="text-center" type="file" (change)="onFileSelected($event)">
      </div>
      <form [formGroup]="userForm">
        <div class="formGroup">
          <label for="user-name">Username</label>
          <input nbInput type="text" class="form-control" id="user-name" formControlName="UserName"
            placeholder="Enter your name"
            [status]="userForm.get('UserName').touched ? (userForm.get('UserName').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger" *ngIf="!userForm.get('UserName').valid && userForm.get('UserName').touched">
            Please enter your name.
          </div>
          <div class="mt-4 mx-0 d-flex justify-content-center">
            <div class="container-btn">
              <button nbButton class="btn-block" status="success" [disabled]="!userForm.valid"
                (click)="updateProfile()">
                Add Username
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>