<div class="container">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        Please fill the information below.
      </h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="row p-3 bg-gray">
        <h2>Company Information</h2>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-lg-5 col-md-12">
      <div class="d-flex flex-column justify-content-center">
        <!-- <div class="d-flex justify-content-center box-200 mx-auto mb-4"> -->
        <img src="{{ CompanyPicturePath }}" class="image-fluid">
        <!-- </div> -->
        <input class="text-center" type="file" (change)="onFileSelected($event)">
      </div>
    </div>
    <div class="col-lg-7 col-md-12">
      <form [formGroup]="companyForm">
        <div class="formGroup">
          <label for="company-name">Company Name (EN)</label>
          <input nbInput type="text" class="form-control" id="company-name" formControlName="CompanyNameEn"
            placeholder="Enter company name"
            [status]="companyForm.get('CompanyNameEn').touched ? (companyForm.get('CompanyNameEn').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyNameEn').valid && companyForm.get('CompanyNameEn').touched">
            Please enter name.
          </div>

          <label for="company-name">Company Name (TH)</label>
          <input nbInput type="text" class="form-control" id="company-name" formControlName="CompanyName"
            placeholder="Enter company name"
            [status]="companyForm.get('CompanyName').touched ? (companyForm.get('CompanyName').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyName').valid && companyForm.get('CompanyName').touched">
            Please enter name.
          </div>

          <label for="company-email">Email</label>
          <input nbInput type="email" class="form-control" id="company-email" formControlName="CompanyEmail"
            placeholder="Enter company email address"
            [status]="companyForm.get('CompanyEmail').touched ? (companyForm.get('CompanyEmail').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyEmail').valid && companyForm.get('CompanyEmail').touched">
            Please enter valid email address.
          </div>

          <label for="company-tel">Telephone Number</label>
          <input nbInput type="text" class="form-control" id="company-tel" formControlName="CompanyTel"
            placeholder="Enter company telephone Number"
            [status]="companyForm.get('CompanyTel').touched ? (companyForm.get('CompanyTel').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyTel').valid && companyForm.get('CompanyTel').touched">
            Please enter telephone Number.
          </div>

          <label for="company-address">Address</label>
          <textarea nbInput type="text" rows="3" class="form-control" id="company-address"
            formControlName="CompanyAddress" placeholder="Enter company address"
            [status]="companyForm.get('CompanyAddress').touched ? (companyForm.get('CompanyAddress').valid  ? 'success' : 'danger') : ''">
                                </textarea>
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyAddress').valid && companyForm.get('CompanyAddress').touched">
            Please enter address.
          </div>

          <label for="company-tax">Tax ID</label>
          <input nbInput type="text" class="form-control" id="company-tax" formControlName="CompanyTaxId"
            placeholder="Enter Company tax id"
            [status]="companyForm.get('CompanyTaxId').touched ? (companyForm.get('CompanyTaxId').valid  ? 'success' : 'danger') : ''">
          <div class="text-danger"
            *ngIf="!companyForm.get('CompanyTaxId').valid && companyForm.get('CompanyTaxId').touched">
            Please enter tax id.
          </div>

          <div class="container-btn float-right mt-5">
            <button nbButton class="btn-block" status="success" [disabled]="!companyForm.valid"
              (click)="onSaveCompany()">
              Add company data
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>