table,
th,
td {
  border: 1px solid #c4ebf6;

  h6 {
    margin: 0.5rem;
    color: #073d8d;
    font-weight: 600;
  }

  p {
    margin: 0.5rem;
  }
}

th {
  background-color: #ffffff;
}

tr {

  &:nth-child(even) {
    background-color: #ffffff;
  }

  &:nth-child(odd) {
    background-color: #f5f7fc;
  }

  p {
    color: #0747a6;
  }
}
