<div class="container-fluid px-0">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/page/company/staff-list/A-Z">Staff List</a></li>
      <li class="breadcrumb-item"><a class="linked" (click)="onCancel()">Staff Info</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <nb-tabset fullWidth>

    <nb-tab tabTitle="Staff Info">
      <form [formGroup]="staffForm" *ngIf="!Done">
        <div class="row d-flex justify-content-between mx-0 mt-5 mb-4">
          <div class="col-lg-5 col-md-12">
            <div class="mb-2 d-flex flex-column justify-content-center">
              <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
                <img src="{{ StaffPicturePath }}" class="image-fill">
              </div>
              <input class="text-center" type="file" (change)="onFileSelectedPic($event)">
              <label class="col-12 mt-5 text-center" for="staff-esign">E-signature</label>
              <div class="d-flex justify-content-center overflow-hidden mx-auto mb-4">
                <img src="{{ StaffSignature }}" class="image-fluid e-sign-image">
              </div>
              <input class="text-center" type="file" (change)="onFileSelectedSig($event)">
            </div>
          </div>

          <div class="col-lg-7 col-md-12">
            <label for="staff-name-en">Name (EN)</label>
            <input nbInput type="text" class="form-control" id="staff-name-en" formControlName="StaffNameEn"
              placeholder="Enter staff name"
              [status]="staffForm.get('StaffNameEn').touched ? (staffForm.get('StaffNameEn').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffNameEn').valid && staffForm.get('StaffNameEn').touched">
              Please enter name.
            </div>

            <label for="staff-name">Name (TH)</label>
            <input nbInput type="text" class="form-control" id="staff-name" formControlName="StaffName"
              placeholder="Enter staff name"
              [status]="staffForm.get('StaffName').touched ? (staffForm.get('StaffName').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffName').valid && staffForm.get('StaffName').touched">
              Please enter name.
            </div>

            <label for="staff-email">Email</label>
            <input nbInput type="email" class="form-control" id="staff-email" formControlName="StaffEmail"
              placeholder="Enter staff email address"
              [status]="staffForm.get('StaffEmail').touched ? (staffForm.get('StaffEmail').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffEmail').valid && staffForm.get('StaffEmail').touched">
              Please enter valid email address.
            </div>

            <label for="staff-tel">Telephone</label>
            <input nbInput type="text" class="form-control" id="staff-tel" formControlName="StaffTel"
              placeholder="Enter staff telephone Number"
              [status]="staffForm.get('StaffTel').touched ? (staffForm.get('StaffTel').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger" *ngIf="!staffForm.get('StaffTel').valid && staffForm.get('StaffTel').touched">
              Please enter telephone Number.
            </div>

            <label for="staff-address">Address</label>
            <textarea nbInput type="text" rows="3" class="form-control" id="staff-address"
              formControlName="StaffAddress" placeholder="Enter staff address"
              [status]="staffForm.get('StaffAddress').touched ? (staffForm.get('StaffAddress').valid  ? 'success' : 'danger') : ''">
                    </textarea>
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffAddress').valid && staffForm.get('StaffAddress').touched">
              Please enter address.
            </div>

            <label for="staffposition">Position</label>
            <input nbInput type="text" class="form-control" id="staffposition" formControlName="StaffPositionName"
              placeholder="Positon name"
              [status]="staffForm.get('StaffPositionName').touched ? (staffForm.get('StaffPositionName').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffPositionName').valid && staffForm.get('StaffPositionName').touched">
              Please enter position.
            </div>

            <label for="staffsalary">Salary</label>
            <input nbInput type="number" class="form-control" id="staffsalary" formControlName="StaffPositionSalary"
              placeholder="Positon name"
              [status]="staffForm.get('StaffPositionSalary').touched ? (staffForm.get('StaffPositionSalary').valid  ? 'success' : 'danger') : ''">
            <div class="text-danger"
              *ngIf="!staffForm.get('StaffPositionSalary').valid && staffForm.get('StaffPositionSalary').touched">
              Please enter salary.
            </div>

            <div class="row mb-2 mx-0 d-flex justify-content-between">
              <div class="col-md-5 col-12 px-0">
                <label for="staff-start-date">Starting Date</label>
                <input nbInput class="form-control" id="staff-start-date" formControlName="StaffStart"
                  placeholder="Starting Date" [nbDatepicker]="startingDate"
                  [status]="staffForm.get('StaffStart').touched ? (staffForm.get('StaffStart').valid  ? 'success' : 'danger') : ''">
                <nb-datepicker #startingDate (dateChange)="startDatePick($event)"></nb-datepicker>
                <div class="text-danger col-5 p-0"
                  *ngIf="!staffForm.get('StaffStart').valid && staffForm.get('StaffStart').touched">
                  Please enter start date.
                </div>
              </div>
              <div class="col-md-1 mx-auto d-none d-md-block">
                <p class="mt-5 mb-0text-center" style="font-size: 30px;">-</p>
              </div>
              <div class="col-md-5 col-12 px-0">
                <label for="staff-resign-date">Resignation Date</label>
                <input nbInput class="form-control" id="staff-resign-date" formControlName="StaffResignation"
                  placeholder="Resignation Date" [nbDatepicker]="resignDate"
                  [status]="staffForm.get('StaffResignation').touched ? (staffForm.get('StaffResignation').valid  ? 'success' : 'danger') : ''">
                <nb-datepicker #resignDate [min]="min"></nb-datepicker>
                <div class="text-danger col-5 p-0 mr-0 ml-auto"
                  *ngIf="!staffForm.get('StaffResignation').valid && staffForm.get('StaffResignation').touched && resigned">
                  Please enter end date.
                </div>
              </div>
            </div>

            <nb-checkbox [value]="resigned" (change)="toggleResign()">Already quit?</nb-checkbox>

            <!-- save button -->
            <div class="mt-5 mx-0 d-flex justify-content-between">
              <div class="container-btn mr-4">
                <button nbButton class="btn btn-outline-secondary btn-block" (click)="onCancel()">Cancel</button>
              </div>
              <div class="container-btn">
                <button nbButton class="btn-block" type="submit" status="success" [disabled]="!staffForm.valid"
                  (click)="onSaveStaff()">
                  Save Changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </nb-tab>

    <nb-tab tabTitle="Position History">
      <div class="row mx-0 mt-5 mb-4">
        <div class="col-12">

          <ng-template #addPositionPopup let-modal>
            <form [formGroup]="positionForm">
              <div class="form-group">
                <div class="modal-body p-4">

                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>

                  <h3>Add position history</h3>

                  <label for="position">Position</label>
                  <input nbInput type="text" class="form-control" id="position" formControlName="PositionName"
                    placeholder="Positon name"
                    [status]="positionForm.get('PositionName').touched ? (positionForm.get('PositionName').valid  ? 'success' : 'danger') : ''">
                  <div class="text-danger"
                    *ngIf="!positionForm.get('PositionName').valid && positionForm.get('PositionName').touched">
                    Please enter position.
                  </div>

                  <label for="salary">Salary</label>
                  <input nbInput type="number" class="form-control" id="salary" formControlName="PositionSalary"
                    placeholder="Positon name"
                    [status]="positionForm.get('PositionSalary').touched ? (positionForm.get('PositionSalary').valid  ? 'success' : 'danger') : ''">
                  <div class="text-danger"
                    *ngIf="!positionForm.get('PositionSalary').valid && positionForm.get('PositionSalary').touched">
                    Please enter salary.
                  </div>

                  <label for="position-start">Start Date</label>
                  <input nbInput class="form-control" id="position-start" formControlName="PositionStart"
                    placeholder="Starting Date" [nbDatepicker]="startingHistory"
                    [status]="positionForm.get('PositionStart').touched ? (positionForm.get('PositionStart').valid  ? 'success' : 'danger') : ''">
                  <nb-datepicker #startingHistory></nb-datepicker>
                  <div class="text-danger"
                    *ngIf="!positionForm.get('PositionStart').valid && positionForm.get('PositionStart').touched">
                    Please enter start date.
                  </div>

                  <label for="position-end">End Date</label>
                  <nb-checkbox [value]="enddatecheck" (change)="toggleenddate()"></nb-checkbox>
                  <div *ngIf="!enddatecheck">
                    <input nbInput class="form-control" id="position-end" formControlName="PositionEnd"
                      placeholder="Ending Date" [nbDatepicker]="endingHistory" disabled>
                    <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
                  </div>
                  <div *ngIf="enddatecheck">
                    <input nbInput class="form-control" id="position-end" formControlName="PositionEnd"
                      placeholder="Ending Date" [nbDatepicker]="endingHistory">
                    <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
                  </div>

                  <div class="row mt-5 mx-0 d-flex justify-content-between">
                    <button class="btn btn-secondary btn-round mr-3" (click)="onCancelHistory()">Cancel</button>
                    <button class="btn btn-info btn-round" [disabled]="positionForm.invalid" (click)="addPosition()">
                      Add Position
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>

          <ng-template #editPositionPopup let-modal>
            <form [formGroup]="positionFormEdit">
              <div class="form-group">
                <div class="modal-body p-4">

                  <button type="button" class="close" aria-label="Close" (click)="onCancelHistory()">
                    <span aria-hidden="true">&times;</span>
                  </button>

                  <h3>Edit position history</h3>

                  <label for="position">Position</label>
                  <input nbInput type="text" class="form-control" id="position" formControlName="PositionName"
                    placeholder="Positon name"
                    [status]="positionFormEdit.get('PositionName').touched ? (positionFormEdit.get('PositionName').valid  ? 'success' : 'danger') : ''">
                  <div class="text-danger"
                    *ngIf="!positionFormEdit.get('PositionName').valid && positionFormEdit.get('PositionName').touched">
                    Please enter position.
                  </div>

                  <label for="salary">Salary</label>
                  <input nbInput type="number" class="form-control" id="salary" formControlName="PositionSalary"
                    placeholder="Positon name"
                    [status]="positionFormEdit.get('PositionSalary').touched ? (positionFormEdit.get('PositionSalary').valid  ? 'success' : 'danger') : ''">
                  <div class="text-danger"
                    *ngIf="!positionFormEdit.get('PositionSalary').valid && positionFormEdit.get('PositionSalary').touched">
                    Please enter salary.
                  </div>

                  <label for="position-start">Start Date</label>
                  <input nbInput class="form-control" id="position-start" formControlName="PositionStart"
                    placeholder="Starting Date" [nbDatepicker]="startingHistory"
                    [status]="positionFormEdit.get('PositionStart').touched ? (positionFormEdit.get('PositionStart').valid  ? 'success' : 'danger') : ''">
                  <nb-datepicker #startingHistory (dateChange)="startDatePick($event)"></nb-datepicker>
                  <div class="text-danger"
                    *ngIf="!positionFormEdit.get('PositionStart').valid && positionFormEdit.get('PositionStart').touched">
                    Please enter start date.
                  </div>

                  <label for="position-end">End Date</label>
                  <nb-checkbox [value]="enddatecheck" (change)="toggleenddate()"></nb-checkbox>
                  <div *ngIf="!enddatecheck">
                    <input nbInput class="form-control" id="position-end" formControlName="PositionEnd"
                      placeholder="Ending Date" [nbDatepicker]="endingHistory" disabled>
                    <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
                  </div>
                  <div *ngIf="enddatecheck">
                    <input nbInput class="form-control" id="position-end" formControlName="PositionEnd"
                      placeholder="Ending Date" [nbDatepicker]="endingHistory">
                    <nb-datepicker #endingHistory [min]="min"></nb-datepicker>
                  </div>

                  <div class="row mt-5 mx-0 d-flex justify-content-between">
                    <button class="btn btn-secondary btn-round mr-3" (click)="onCancelHistory()">Cancel</button>
                    <button class="btn btn-info btn-round" (click)="editPosition()"
                      [disabled]="!positionFormEdit.get('PositionName').valid || !positionFormEdit.get('PositionSalary').valid || !positionFormEdit.get('PositionStart').valid">
                      Save Position
                    </button>
                  </div>

                </div>
              </div>
            </form>
          </ng-template>

          <ng2-smart-table [settings]="setting" [source]="source" (delete)="onDeleteConfirm($event)"
            (create)="openVerticallyCentered(addPositionPopup)" (edit)="onEditConfirm($event,editPositionPopup)">
          </ng2-smart-table>
        </div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>