<div class="row">
  <div class="col-lg-5 col-md-12 mx-auto px-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-5 col-md-12 mx-auto mt-5 text-center">
    <button class="btn btn-info" routerLink="/auth/profile-edit"
      style="position: absolute; right: 0; top: 0; z-index: 999;">
      Edit
    </button>
    <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
      <img src="{{UserPicturePath}}" class="image-fill">
    </div>
    <h3 class="mb-3">{{UserName}}</h3>
    <p>{{Email}}</p>
    <p><a routerLink="/auth/change-password">Change Password</a></p>
    <button class="btn btn-info" (click)="createCom()">Create New Company</button>
  </div>
</div>