@import '../../../@theme/styles/themes';

@include nb-install-component() {

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /deep/ nb-stepper .step-content {
    // text-align: center;

    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }
}
