<div class="container">
  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>
  <div class="row my-3 mx-0">
    <div class="col-xl-10 col-md-12 m-auto">

      <form #projectForm="ngForm">
        <div class="form-group">

          <div class="row d-flex justify-content-between">

            <div class="col-lg-5 col-md-8 col-sm-8 mx-auto pr-4">
              <div class="row mb-2 d-flex justify-content-center">
                <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
                  <img src="{{ ProjectPicturePath }}" class="image-fill">
                </div>
                <input class="text-center" type="file" (change)="onFileSelected($event)">
              </div>
            </div>

            <div class="col-lg-7 col-md-12 pl-4">

              <label class="mt-0" for="project-name">Project Name</label>
              <input nbInput ngModel type="text" class="form-control" id="project-name" name="projectName"
                placeholder="Enter project name" #projectName="ngModel" required [(ngModel)]="ProjectName">
              <div class="text-danger" *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)">
                Please enter name.
              </div>

              <label for="project-client">Client Name</label>
              <nb-select class="sort-button" selected="{{ProjectClient}}" outline status="primary"
                placeholder="Select Client" (selectedChange)="selectclient($event)">
                <nb-option *ngFor="let client of clients" value="{{client.ClientId}}">
                  <div class="row">
                    <div class="col-2"><img src="http://206.189.34.171:7777/client/img/{{client.ClientPicturePath}}"
                        class="mr-2 box-16">
                    </div>
                    <div class="col-8">
                      {{client.ClientNameEn}}
                    </div>
                  </div>
                </nb-option>
              </nb-select>

              <label for="project-desc">Description/User Requirement</label>
              <textarea nbInput ngModel class="form-control" id="project-desc" name="projectDesc" rows="3"
                placeholder="Enter project description" #projectDesc="ngModel" [(ngModel)]="ProjectDesc"></textarea>

              <label for="project-link">Link</label>
              <input nbInput ngModel type="url" class="form-control" id="project-link" name="projectLink"
                placeholder="Enter project link ex.https://example.com" #projectLink="ngModel"
                [(ngModel)]="ProjectLink">

              <div class="row m-0 d-flex justify-content-between">
                <label class="col-5 p-0" for="project-start-date">Start Date</label>
                <label class="col-5 p-0" for="project-end-date">End Date</label>
              </div>

              <div class="row m-0 d-flex justify-content-between">
                <input nbInput ngModel class="form-control col-5" id="project-start-date" name="projectStart"
                  placeholder="Enter start date" [nbDatepicker]="startDate" #projectStart="ngModel" required
                  [(ngModel)]="ProjectStart">
                <nb-datepicker #startDate (dateChange)="startDatePick($event)"></nb-datepicker>
                <p class="col-1 mx-auto my-0 text-center" style="font-size: 30px;">-</p>
                <input nbInput ngModel class="form-control col-5" id="project-end-date" name="projectEnd"
                  placeholder="Enter end date" [nbDatepicker]="endDate" #projectEnd="ngModel" required
                  [(ngModel)]="ProjectEnd">
                <nb-datepicker #endDate [min]="min"></nb-datepicker>
              </div>
              <div class="row m-0 d-flex justify-content-between">
                <div class="text-danger col-5 p-0"
                  *ngIf="projectStart.invalid && (projectStart.dirty || projectStart.touched)">
                  Please enter start date.
                </div>
                <div class="text-danger col-5 p-0 mr-0 ml-auto"
                  *ngIf="projectEnd.invalid && (projectEnd.dirty || projectEnd.touched)">
                  Please enter end date.
                </div>
              </div>

              <!-- <label for="project-price">Price</label>
              <input nbInput ngModel type="number" class="form-control" id="project-price" name="projectPrice"
                placeholder="Enter price" #projectPrice="ngModel" required [(ngModel)]="ProjectPrice">
              <div class="text-danger" *ngIf="projectPrice.invalid && (projectPrice.dirty || projectPrice.touched)">
                Please enter price.
              </div> -->

              <label for="project-payment">Payment Terms</label>
              <textarea nbInput ngModel rows="3" placeholder="Enter payment terms" class="form-control"
                id="project-payment" name="projectPayment" #projectPayment="ngModel" required
                [(ngModel)]="ProjectPayment"></textarea>
              <div class="text-danger"
                *ngIf="projectPayment.invalid && (projectPayment.dirty || projectPayment.touched)">
                Please enter payment terms.
              </div>

            </div>

          </div>

        </div>
      </form>

      <div class="row mt-5 mx-0 d-flex justify-content-end">
        <div class="container-btn mr-4">
          <button nbButton class="btn btn-outline-secondary btn-block" (click)="onCancel()">Cancel</button>
        </div>
        <div class="container-btn">
          <button nbButton class="btn-block" status="success" [disabled]="!projectForm.valid"
            (click)="onSaveProjectDetail()">Save
            Project</button>
        </div>
      </div>

    </div>

  </div>
</div>