// @import "../../../../../assets/styles/scss/components/taskboard";

:host {
  padding: 0 !important;
  height: 100%;
}

.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}
