<div class="taskboard page-height scrollHorizontal">
  <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
    <div class="taskboard-list bordered">
      <div class="taskboard-header text-uppercase">
        <strong>{{board.ListName}}</strong>
      </div>
      <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group"'>
        <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
          [ngClass]="task.class">
          <div *ngIf="!task.edit">
            <div class="row mx-0 justify-content-between align-items-center">
              <div (click)="openTask(taskInfoPopup,i,j);">
                <div class="taskboard-task-title m-0">{{task.TaskName}}</div>
                <small class="card-text text-muted">{{task.TaskDesc}}</small>
                <div *ngIf="task.DueDate !=0"><i class="far fa-clock"></i>
                  {{ task.DueDate *1000 | date : ' MMM, dd' }}
                </div>
              </div>

              <div (click)="editTaskNameClick(i,j,task.TaskName)">
                <a class="btn-edit">
                  <i class="fas fa-edit"></i>
                </a>
              </div>
            </div>
          </div>

          <div *ngIf="task.edit">
            <form [formGroup]="taskEditForm">
              <input nbInput type="text" class="form-control mb-0" id="task-name" formControlName="TaskName"
                placeholder="Task name" (blur)="onEditTaskName(task.TaskId,i,j)"
                (keyup.enter)="onEditTaskName(task.TaskId,i,j)">
            </form>
          </div>

          <ng-template #taskInfoPopup let-modal>
            <ngx-task-edit [Taskdata]='task' [Listdata]='board' [Sprintdata]='SprintName'
              (edittaskEvent)="editTaskValue($event)" (deletetaskEvent)="spliceTask($event)">
            </ngx-task-edit>
          </ng-template>

        </div>
      </div>
      <div class="taskboard-footer" *ngIf="!board.add" (click)="addTaskClick(i)">
        <a class="btn-add">
          <i class="fas fa-plus mr-2"></i> Add a task
        </a>
      </div>
      <div *ngIf="board.add">
        <form [formGroup]="taskAddForm">
          <input nbInput type="text" class="form-control mb-3 full-width" id="task-name" formControlName="TaskName1"
            placeholder="Task name" (blur)="onAddTask(board.ListId)" (keyup.enter)="onAddTask(board.ListId)">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <div>
  <div class="wrapper">
    <div class="container" dragula="DRAGULA_FACTS">
      <div>You can move these elements between these two containers</div>
      <div>Moving them anywhere else isn't quite possible</div>
      <div>There's also the possibility of moving elements around in the same container, changing their position</div>
    </div>
    <div class="container" dragula="DRAGULA_FACTS">
      <div>This is the default use case. You only need to specify the containers you want to use</div>
      <div>More interactive use cases lie ahead</div>
      <div>Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on GitHub!</a>
      </div>
    </div>
  </div>
</div> -->