h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-list {
  img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.nb-menu {
  padding: 0.75rem 0;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 0;
}
