<div class="row p-3 bg-gray">
  <div class="col-12">
    <h1 class="my-0">Team</h1>
  </div>
</div>
<div class="row mx-0 mt-4 d-flex justify-content-center">


  <div class="col-lg-4 col-md-12">
    <h4 class="mb-4">Team manager</h4>
    <nb-card class="py-5 bordered">
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <div class="rounded-circle d-flex justify-content-center box-150 overflow-hidden mx-auto">
              <img class="image-fill" src="{{ HeadPic }}" alt="">
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 px-4 text-center">

            <div class="row mt-4 mb-3 mx-4 align-items-baseline justify-content-center">
              <h3 class="my-0 mr-2">{{ HeadName }}</h3>
              <small>
                <a href="" [routerLink]="['/page/company/staff-info/' + HeadId]" target="_blank"
                  title="View Staff Profile">
                  <i class="fas fa-external-link-square-alt"></i>
                </a>
              </small>
            </div>

            <h6>
              <p>
                <i class="fas fa-envelope mr-2"></i>
                <a href="mailto: {{ HeadEmail }}" class="pr-3">
                  {{ HeadEmail }}
                </a>
              </p>
              <p>
                <i class="fas fa-phone ml-3 mr-2"></i>
                <a href="tel: {{ HeadTel }}">
                  {{ HeadTel }}
                </a>
              </p>
              <img src="{{ HeadSig }}" class="img-fluid">
            </h6>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4 col-md-12">
    <form #staffForm="ngForm">

      <label for="project-staffs" style="font-size: 1.2rem;">Add staff</label>
      <nb-select class="sort-button" outline status="primary" placeholder="Select Staff" [(selected)]="selectedItem"
        (selectedChange)="selectstaff($event)">
        <nb-option *ngFor="let s of staffs" value="{{s.StaffId}}">
          <div class="row">
            <div class="col-2"><img src="http://206.189.34.171:7777/staff/img/{{s.StaffPicturePath}}"
                class="mr-2 box-16">
            </div>
            <div class="col-8">
              {{s.StaffNameEn}}
            </div>
          </div>
        </nb-option>
      </nb-select>
    </form>

    <div class="row mt-3 mb-4 mx-0 d-flex justify-content-end">
      <!-- <button class="btn btn-secondary btn-round">Cancel</button> -->
      <button class="btn btn-info btn-round ml-2" [disabled]="!staffForm.valid" (click)="addStaff()">Add
        Staff</button>
    </div>

    <h4>Team staffs</h4>
    <nb-card class="mt-4" style="height: 40vh; overflow: auto;">
      <nb-card class="bordered p-3" *ngFor="let s of staff; let i = index;">
        <div class="row m-0 d-flex justify-content-between">
          <div class="row mx-0 align-items-center">
            <div class="rounded-circle d-flex justify-content-center box-50 overflow-hidden mr-2">
              <img class="image-fill" [src]="'http://206.189.34.171:7777/staff/img/' + s['StaffPicturePath']" alt="">
            </div>
            {{ s.StaffNameEn }}
            <small>
              <a href="" [routerLink]="['/page/company/staff-info/' + s.StaffId]" target="_blank"
                title="View Staff Profile">
                <i class="fas fa-external-link-square-alt ml-2"></i>
              </a>
            </small>
          </div>

          <ng-template #menu>
            <ul class="option-menu">
              <li class="mb-2" (click)="setManager(i)">Set as manager</li>
              <li (click)="deleteStaff(i)">Delete</li>
            </ul>
          </ng-template>

          <i class="fas fa-ellipsis-v btn-card-option" [nbPopover]="menu" nbPopoverPlacement="top"
            [nbPopoverContext]="{popover: popover}"></i>
        </div>
      </nb-card>
    </nb-card>
  </div>

</div>