<div class="container-fluid">
  <div class="row header-container">
    <div class="col-6">
      <div class="logo-containter">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle d-block d-md-none">
          <i class="fas fa-bars"></i>
        </a>
        <div class="logo" (click)="goToHome()"><span>MindTask</span></div>
      </div>
    </div>
    <div class="col-6">
      <ng-template #menu>
        <ul class="option-menu">
          <li class="mb-2" [routerLink]="['/page/account/profile']">Profile</li>
          <li class="mb-2" [routerLink]="['/page/account/help']">Help</li>
          <li (click)="logout()">Log out</li>
        </ul>
      </ng-template>
      <nb-actions size="medium" class="float-right">
        <nb-action *nbIsGranted="['view', 'user']">
          <nb-user [nbPopover]="menu" nbPopoverPlacement="bottom" [nbPopoverContext]="{popover: popover}"
            nbPopoverMode="click" [name]="userName" [picture]="userPic"></nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </div>
</div>