@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  /deep/ nb-user {
    cursor: pointer;

    .user-container {
      .user-picture {
        background-position: center !important;
      }
    }
  }

  .logo-containter {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .control-item {
    display: block;
    border-left: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      font-weight: nb-theme(font-weight-bolder);
      @include nb-ltr(border-left, none);
      @include nb-rtl(border-right, none);
      white-space: nowrap;
      cursor: pointer;

      span {
        font-weight: nb-theme(font-weight-normal);
      }
    }
  }

  @include media-breakpoint-down(md) {

    nb-action:not(.toggle-settings) {
      border: none;
    }

    .control-item {
      display: none;
      border-left: none;
    }
  }

  @include media-breakpoint-down(sm) {

    nb-user /deep/ .info-container {
      display: none;
    }

    nb-action {
      padding: 0 !important;
    }
  }

  @include media-breakpoint-down(is) {

    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }
  }
}
