<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Your account has been verified!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-12 text-center mx-auto">
      <button nbButton fullWidth status="primary" [routerLink]="['/auth/login']">Go to log in page</button>
    </div>
  </div>
</div>