@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  /deep/ nb-layout-column {
    padding: 0 !important;

    &.small {
      flex: 0.15 !important;
    }
  }

  .header {
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
  }

  /deep/ nb-layout-header.no-submenu {
    nav {
      height: 4rem;
    }

    &.fixed ~ .layout-container {
      padding-top: 4rem !important;
      min-height: calc(100vh - 4rem) !important;

      nb-sidebar.fixed {
        top: 4rem;
        padding-top: 1rem;
      }
    }
  }

  /deep/ nb-sidebar.compacted.left.fixed ~ .content {
    margin-left: 0 !important;
  }

  ngx-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  ngx-sub-header,
  .sub {
    background-color: #0747a6;
  }

  /deep/ nb-layout-footer {
    z-index: 1000;

    nav {
      height: 4rem !important;
    }
  }


  @include media-breakpoint-only(sm) {
    /deep/ nb-layout-column {
      padding-left: 3.5rem !important;
    }
  }

  @include media-breakpoint-down(sm) {

    ngx-sub-header {
      display: none;
    }

    nb-sidebar.menu-sidebar {

      margin-top: 0;

      /deep/ .main-container {
        height: calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
        @include nb-ltr(border-top-right-radius, 0);
        @include nb-rtl(border-top-left-radius, 0);

        .scrollable {
          padding-top: 0;
        }
      }

    }

    @include media-breakpoint-down(xs) {
      .main-content {
        padding: 0.75rem !important;

      }
    }

    .main-btn {
      display: none;
    }
  }
}
