<div class="container mb-5 mt-sm-5 mt-3">

  <ngx-loading [show]="Done" [config]="{ fullScreenBackdrop: true }">
  </ngx-loading>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/page/client/list/A-Z">Client List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Client Info</li>
    </ol>
  </nav>

  <div class="row align-items-start justify-content-between position-relative mt-4 mx-0">
    <button class="mb-auto btn btn-info d-inline-flex position-absolute" (click)="onEdit(ClientId)"
      style="right: 0; z-index: 10;">
      <i class="fas fa-pen"></i>
      <div class="small ml-2 d-none d-lg-block">
        Edit
      </div>
    </button>

    <div class="col-lg-3 col-md-4 col-12">
      <div class="rounded-circle d-flex justify-content-center box-200 overflow-hidden mx-auto mb-4">
        <img src="{{ ClientPicturePath }}" class="image-fill">
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-12 text-center text-md-left">
      <h1 class="my-0">{{ ClientNameEn }}</h1>
      <h5 class="mt-0">{{ ClientName }}</h5>
      <h6>
        <a href="mailto: {{ ClientEmail }}">
          <i class="fas fa-envelope mr-2"></i>
          <div *ngIf="ClientEmail">{{ ClientEmail }}
          </div>
          <div *ngIf="ClientEmail===''">-
          </div>
        </a>
      </h6>
      <h6>
        <a href="tel: {{ ClientTel }}">
          <i class="fas fa-phone mr-2"></i>
          <div *ngIf="ClientTel">{{ ClientTel }}
          </div>
          <div *ngIf="ClientTel===''">-
          </div>
        </a>
      </h6>
      <h6>
        <i class="fas fa-map-marker-alt mr-2"></i>
        {{ ClientAddress }}
      </h6>
      <h6>Tax ID: {{ ClientTaxId }}</h6>
    </div>
  </div>
  <hr class="mt-4">
  <div class="row">
    <div class="col-12">
      <h5 class="my-3">Contact Person</h5>
      <ng2-smart-table [settings]="setting" [source]="source">
      </ng2-smart-table>
    </div>
  </div>
</div>