<div class="container-fluid">

  <div class="row p-3 bg-gray">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h1 class="my-0">
        Edit Cost
      </h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 p-0">
      <div class="row">
        <div class="col-12">
          <small class="text-muted">Description</small>
          <ng2-smart-table [settings]="setting" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
            (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
          </ng2-smart-table>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <small class="text-muted">Project price:</small>
          <p>{{ Total }} THB</p>
        </div>
        <div class="col-6">
          <small class="text-muted">Project payment:</small>
          <form #projectForm="ngForm">
            <div class="form-group">
              <textarea nbInput ngModel rows="3" placeholder="Enter payment terms" class="form-control"
                id="project-payment" name="projectPayment" #projectPayment="ngModel"
                [(ngModel)]="ProjectPayment"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3 mx-0 d-flex justify-content-end">
        <div class="container-btn mr-4">
          <button nbButton class="btn btn-outline-secondary btn-block" (click)="onCancel()">Cancel</button>
        </div>
        <div class="container-btn">
          <button nbButton class="btn-block" status="success" [disabled]="!projectForm.valid"
            (click)="onEditPayment()">Save
            Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>