<!-- <ng-template #test></ng-template>
<ngx-loading [show]="Done" [template]="test"></ngx-loading> -->
<div class="container my-5">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 col-12 mx-auto">
      <div class="row">
        <div class="col-12">
          <h1 class="title text-center m-0">Forgot Password</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="label my-3 text-center">
            Enter your email address <br> and we’ll send a link to reset your password
          </p>
        </div>
      </div>
      <form [formGroup]="forgotPass" class="my-2">
        <div class="row">
          <div class="col-12">
            <label class="label" for="input-email">Email address</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input nbInput class="form-control" id="input-email" placeholder="Enter your email address"
              formControlName="email"
              [status]="forgotPass.get('email').touched ? (forgotPass.get('email').valid  ? 'success' : 'danger') : ''">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-danger" *ngIf="!forgotPass.get('email').valid && forgotPass.get('email').touched">
              Please enter valid email address.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button nbButton fullWidth status="success" class="mt-2" [disabled]="!forgotPass.valid"
              (click)="requirePasswd()">
              Request Password
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row mx-0 d-flex justify-content-between align-items-center">
              <a class="text-link" routerLink="/auth/login">Back to Log In</a>
              <a routerLink="/auth/register">Register</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>