<div class="container-fluid">

  <div class="row d-flex align-items-start p-md-5 p-3">

    <div class="col-xl-2 col-lg-3 col-12 p-0">
      <nb-card class="bordered d-flex flex-column">
        <nb-card-body>
          <div class="container-fluid mt-0 mb-0 mt-lg-4 mb-lg-4">
            <button type="button" class="btn btn-link position-absolute d-block d-lg-none p-0"
              style="top: 1rem; right: 1rem; z-index: 10;" (click)="showMenu=!showMenu;" (blur)="closeMenu()">
              <i class="fas fa-bars p-0 btn-card-option"></i>
            </button>
            <div class="row align-items-center">
              <div class="col-lg-12 col-3 p-0 text-center">
                <!-- <button class="btn btn-sm btn-outline-success d-inline-flex py-2 px-4 mb-3"
                  (click)="updateStatus('done')" title="Make this project as done" *ngIf="ProjectStatus === 'not done'">
                  <i class="fas fa-check"></i>
                  <div class="small ml-2 d-none d-lg-block">
                    Make as done
                  </div>
                </button>
                <button class="btn btn-sm btn-outline-secondary d-inline-flex py-2 px-4 mb-3"
                  (click)="updateStatus('not done')" title="Make this project as not done"
                  *ngIf="ProjectStatus === 'done'">
                  <i class="fas fa-times"></i>
                  <div class="small ml-2 d-none d-lg-block">
                    Make as not done
                  </div>
                </button> -->
                <div class="rounded-circle d-flex justify-content-center overflow-hidden m-auto"
                  [ngClass]="{ 'box-100': !isSmall, 'box-75': isSmall }">
                  <img class="image-fill" src="{{ProjectPicturePath}}" alt="">
                </div>
              </div>
              <div class="col-lg-12 col-9 flex-column text-lg-center text-left">
                <div class="row">
                  <div class="col-12">
                    <h1 class="mt-lg-4 mt-0 mb-2" *ngIf="!isMobile">{{ ProjectName }}</h1>
                    <h4 class="mt-lg-4 mt-0 mb-2" *ngIf="isMobile">{{ ProjectName }}</h4>
                  </div>
                </div>

                <nb-progress-bar value="{{ ProjectPercent }}" size="m" status="success" *ngIf="!isMobile">
                  {{ ProjectPercent }} % tasks done
                </nb-progress-bar>
                <nb-progress-bar value="{{ ProjectPercent }}" size="xs" status="success" *ngIf="isMobile">
                </nb-progress-bar>
                <div class="row mt-2">
                  <div class="col-12">
                    <span class="badge p-2"
                      [ngClass]="{'badge-default': (daysLeft > 14), 'badge-warning': (daysLeft <= 14 && daysLeft > 7), 'badge-danger': (daysLeft <= 7) }"
                      *ngIf="ProjectStatus !==  'done' && daysLeft >= 0">
                      <i class="far fa-clock mr-1"></i> {{ daysLeft }} days left
                    </span>

                    <span class="badge badge-danger p-2" *ngIf="ProjectStatus !==  'done' && daysLeft < 0">
                      <i class="fas fa-exclamation-circle mr-1"></i> LATE
                    </span>

                    <span class="badge badge-success p-2" *ngIf="ProjectStatus === 'done'">
                      <i class="fas fa-check-circle mr-1"></i> DONE
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="mt-2 mb-0">
                      <i class="far fa-calendar-alt mr-2"></i> {{ ProjectStart*1000|date }} - {{ ProjectEnd*1000|date }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="mt-2 mb-0" *ngIf="ProjectLink != '' && ProjectLink != '-'">
                      <a href="{{ ProjectLink }}"><i class="fas fa-external-link-square-alt mr-1"></i>
                        {{ ProjectLink }}
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="showMenu">
            <hr>
            <nb-menu tag="project-menu" [items]="items"></nb-menu>
          </div>
          <div class="d-none d-lg-block">
            <hr>
            <nb-menu tag="project-menu" [items]="items"></nb-menu>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
    <div class="col-xl-10 col-lg-9 col-12 pl-lg-5 pr-lg-5 pl-0 pr-0">
      <router-outlet (activate)='show($event)'></router-outlet>
    </div>

  </div>
</div>