<div class="modal-body p-5">
  <h3 class="mb-2">Move backlog to this sprint</h3>
  <div class="taskboard page-height scrollHorizontal">
    <div class="taskboard-wrapper" *ngFor="let board of taskboard;let i = index;">
      <div class="taskboard-list bordered">
        <div class="taskboard-header text-uppercase">
          <strong>{{board.ListName}}</strong>
        </div>
        <div class="taskboard-cards" id="{{board.ListId}}" [dragula]='"task-group2"'>
          <div class="taskboard-task" *ngFor="let task of board.Task;let j = index;" id="{{task.TaskId}}"
            [ngClass]="task.class">
            <div class="row mx-0 justify-content-between align-items-center">
              <div class="taskboard-task-title m-0">{{task.TaskName}}</div>
              <!-- <small class="card-text text-muted">{{task.TaskDesc}}</small> -->
              <div *ngIf="task.DueDate !=0"><i class="far fa-clock"></i>
                {{ task.DueDate *1000 | date : ' MMM, dd' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="taskboard-wrapper" *ngFor="let board1 of sprintTasks;let i = index;">
      <div class="taskboard-list bordered">
        <div class="taskboard-header text-uppercase">
          <strong>{{board1.ListName}}</strong>
        </div>
        <div class="taskboard-cards" id="{{board1.ListId}}" [dragula]='"task-group2"'>
          <div class="taskboard-task" *ngFor="let task1 of board1.Task;let j = index;" id="{{task.TaskId}}"
            [ngClass]="task1.class">
            <div class="row mx-0 justify-content-between align-items-center">
              <div class="taskboard-task-title m-0">{{task1.TaskName}}</div>
              <!-- <small class="card-text text-muted">{{task1.TaskDesc}}</small> -->
              <div *ngIf="task1.DueDate !=0">
                <i class="far fa-clock"></i>
                {{ task.DueDate *1000 | date : ' MMM, dd' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mx-0 d-flex justify-content-end">
    <button class="btn btn-secondary btn-round mr-3" (click)="cancelmove()">Cancel</button>
    <button class="btn btn-info btn-round" (click)="moveBacklog()">
      Save
    </button>
  </div>
</div>